extends ../layout

block title
  | #{status} - Authentifizierungsproblem
block content
  .row
    .col-md-6
      h3 Problem bei der Authentifizierung!
      p Leider scheint bei der Authentifizierung etwas schief gegangen zu sein.
    .col-md-6
      h3 #{status}
      p #{error}
      h4 Stacktrace:
      p #{error.stack}
