extends ../../../views/layout
include ../../../views/formComponents

block title
  | Passwort

block content
  .col-12
    form#passwordform(action="/users/newPassword", method="post")
      .row
        .col-md-6
          .page-header
            +submitButtons('Speichern')
            h2 Passwort ändern für "#{user.id}" (#{user.name})
            +csrf
          +hidden('id', user.id)
          .form-group
            +controlLabel('passwort', 'neues Passwort', 'Dein neues Passwort')
            input#passwort.form-control(, type="password", name="passwort", placeholder="hier das neue Passwort")
          .form-group
            +controlLabel('passwort1', 'wiederholt', 'Dein neues Passwort nochmal')
            input#passwort1.form-control(, type="password", name="passwort1", placeholder="bitte nochmal eingeben")
          +submitButtons('Speichern')

block scripts
  script(src="/clientscripts/check-passwordform.js")
