extends ../../../views/layout
include ../../../views/formComponents

block title
  | Users

block content
  -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
  .row
    .col-md-6
      .page-header
        h2 User "#{user.id}" bearbeiten
      form#userform(action='/users/submit', method='post')
        +csrf
        +hidden('id', user.id)
        fieldset
          .btn-group.pull-right
            if accessrights.isSuperuser()
              a.btn.btn-danger(href='/users/' + user.id + '/delete') Löschen

          +text('name', 'Voller Name', user.name)
          +email('email', 'E-Mail', user.email)
          +text('tel', 'Tel', user.tel)
          +singleselect('tshirt', 'T-Shirt', user.tshirt, shirtsizes)
          .row
            .col-md-6
              if accessrights.isSuperuser()
                +checkbox('gruppen', 'Superuser', !!(user.gruppen || []).includes('superusers'), 'superusers')
                +checkbox('gruppen', 'Booking Team', !!(user.gruppen || []).includes('bookingTeam'), 'bookingTeam')
                +checkbox('gruppen', 'Orga Team', !!(user.gruppen || []).includes('orgaTeam'), 'orgaTeam')
              else
                +hidden('gruppen', user.gruppen)
            .col-md-6
              if accessrights.isSuperuser()
                +checkbox('rechte', 'Kassenfreigabe', !!(user.rechte || []).includes('kassenfreigabe'), 'kassenfreigabe')
              else
                +hidden('rechte', user.rechte)
          +submitButtons()


block scripts
  script(src='/clientscripts/check-userform.js')
      
