extends ../../../views/layout
include ../../../views/formComponents

block title
  | Users

block content
  .row
    .col-md-6
      .page-header
        h2 User "#{user.id}" bearbeiten
      form#userform(action='/users/submit', method='post')
        +csrf
        +hidden('id', user.id)
        fieldset
          +text('name', 'Voller Name', user.name)
          +email('email', 'E-Mail', user.email)
          +submitButtons()
          +checkbox('gruppen', 'Superuser', !!(user.gruppen || []).includes('superusers'), 'superusers')
          +checkbox('gruppen', 'Booking Team', !!(user.gruppen || []).includes('bookingTeam'), 'bookingTeam')
          +checkbox('gruppen', 'Orga Team', !!(user.gruppen || []).includes('orgaTeam'), 'orgaTeam')


block scripts
  script(src='/clientscripts/check-userform.js')
      
