extends ../../../views/layout

include  ../../../views/formComponents

block content
  form#mailform(action='/users/rundmail', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons('Mail senden')
          legend
            | Rundmail an Alle senden
          +hightextarea('markdown', 'Anschreiben')
          +submitButtons('Mail senden')
