extends ../../../views/layout

include  ../../../views/formComponents

block content
  .col-12
    form#mailform(action='/users/rundmail', method='post')
      +csrf
      .page-header
        +submitButtons('Mail senden')
        h3 Rundmail an Alle senden
      +hightextarea('markdown', 'Anschreiben')
      +submitButtons('Mail senden')
