build/
config/
!static/reporting
node_modules/
static/clientscripts
static/files
static/fonts
static/goof
static/stylesheets
static/upload
static/webfonts
*.log
workspace.xml
coverage
static/img/loadin*.gif
jazzclubmongo.dump/jazzclub
mongodump_jc.sh
dump.zip
mongorestore_jc.sh
jazzclubmongo*
*.gz
/frontend/sass/out/jc-backoffice.css
lib/**/*.js
test/**/*.js
app.js
configure.js
initWinston.js
start.js
*.map
.tscache/
reservixLoad.js
/static/vue/

