config/
node_modules/
exposedfiles/
!/exposedfiles/**/.gitkeep
/application/backend/static/stylesheets
/application/backend/static/upload
/application/backend/static/vue/
*.log
workspace.xml
jazzclubmongo.dump/jazzclub
mongodump_jc.sh
dump.zip
mongorestore_jc.sh
jazzclubmongo*
*.gz
/application/backend/sass/out/jc-backoffice.css
/application/backend/**/*.js
/application/shared/**/*.js
/application/batchjobs/**/*.js
*.map
.tscache/
/frontendtests/output/
/mongocollections
mongoimport_jc.sh
/application/backend/static/rider/
/pdfs/*
/*.tgz
/application/test-globals.js
/application/vitest.config.js
/pdfs and more/*
vite.config.d.ts
vite.config.js
.idea/dataSources
.idea/dataSources.*
