config/
node_modules/
exposedfiles/
!/exposedfiles/**/.gitkeep
/application/backend/static/stylesheets
/application/backend/static/upload
/application/backend/static/vue/
*.log
workspace.xml
jazzclubmongo.dump/jazzclub
mongodump_jc.sh
dump.zip
mongorestore_jc.sh
jazzclubmongo*
*.gz
/application/backend/sass/out/jc-backoffice.css
/application/backend/**/*.js
/application/shared/**/*.js
/application/batchjobs/**/*.js
*.map
.tscache/
/frontendtests/output/
/mongocollections
mongoimport_jc.sh
/application/backend/static/rider/
/pdfs/*
/*.tgz
/application/test-globals.js
/application/vitest.config.js
/pdfs and more/*
vite.config.d.ts
vite.config.js
.idea/dataSources
.idea/dataSources.*
backup*
/runtime-deploy/
/config-docker/
/.deploy-utils/runtime-deploy/.yarn/releases/yarn-4.6.0.cjs
/.deploy-utils/runtime-deploy/backend/apikey/apicalls.js
/.deploy-utils/runtime-deploy/backend/lib/commons/hashPassword.js
/.deploy-utils/runtime-deploy/backend/lib/commons/hashPassword.ts
/.deploy-utils/runtime-deploy/backend/lib/commons/parseFormData.js
/.deploy-utils/runtime-deploy/backend/lib/commons/parseFormData.ts
/.deploy-utils/runtime-deploy/backend/lib/commons/replies.js
/.deploy-utils/runtime-deploy/backend/lib/commons/replies.ts
/.deploy-utils/runtime-deploy/backend/lib/konzerte/imageService.js
/.deploy-utils/runtime-deploy/backend/lib/konzerte/imageService.ts
/.deploy-utils/runtime-deploy/backend/lib/konzerte/index.js
/.deploy-utils/runtime-deploy/backend/lib/konzerte/index.ts
/.deploy-utils/runtime-deploy/backend/lib/konzerte/konzerteService.js
/.deploy-utils/runtime-deploy/backend/lib/konzerte/konzerteService.ts
/.deploy-utils/runtime-deploy/backend/lib/konzerte/konzertestore.js
/.deploy-utils/runtime-deploy/backend/lib/konzerte/konzertestore.ts
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailbodyRenderer.js
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailbodyRenderer.ts
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailstore.js
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailstore.ts
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailtransport.js
/.deploy-utils/runtime-deploy/backend/lib/mailsender/mailtransport.ts
/.deploy-utils/runtime-deploy/backend/lib/middleware/passportApiKeyInitializer.js
/.deploy-utils/runtime-deploy/backend/lib/middleware/passportInitializer.js
/.deploy-utils/runtime-deploy/backend/lib/middleware/passportInitializer.ts
/.deploy-utils/runtime-deploy/backend/lib/optionen/kalenderEventsService.js
/.deploy-utils/runtime-deploy/backend/lib/optionen/kalenderEventsService.ts
/.deploy-utils/runtime-deploy/backend/lib/optionen/kalendereventstore.js
/.deploy-utils/runtime-deploy/backend/lib/optionen/kalendereventstore.ts
/.deploy-utils/runtime-deploy/backend/lib/optionen/optionenstore.js
/.deploy-utils/runtime-deploy/backend/lib/optionen/optionenstore.ts
/.deploy-utils/runtime-deploy/backend/lib/optionen/terminstore.js
/.deploy-utils/runtime-deploy/backend/lib/optionen/terminstore.ts
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/kassenbericht.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/kassenzettel.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/mixins.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/rider.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/vertrag-briefpapier.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/vertrag-deutsch.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/vertrag-englisch.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/views/vertrag-vermietung.pug
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfCommons.js
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfCommons.ts
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfEndpoints.js
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfEndpoints.ts
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfGeneration.js
/.deploy-utils/runtime-deploy/backend/lib/pdf/pdfGeneration.ts
/.deploy-utils/runtime-deploy/backend/lib/persistence/sqlitePersistence.js
/.deploy-utils/runtime-deploy/backend/lib/persistence/sqlitePersistence.ts
/.deploy-utils/runtime-deploy/backend/lib/programmheft/kalenderstore.js
/.deploy-utils/runtime-deploy/backend/lib/programmheft/kalenderstore.ts
/.deploy-utils/runtime-deploy/backend/lib/rider/ridersrest.js
/.deploy-utils/runtime-deploy/backend/lib/rider/ridersrest.ts
/.deploy-utils/runtime-deploy/backend/lib/rider/riderstore.js
/.deploy-utils/runtime-deploy/backend/lib/rider/riderstore.ts
/.deploy-utils/runtime-deploy/backend/lib/site/index.js
/.deploy-utils/runtime-deploy/backend/lib/site/index.ts
/.deploy-utils/runtime-deploy/backend/lib/site/refreshstore.js
/.deploy-utils/runtime-deploy/backend/lib/site/refreshstore.ts
/.deploy-utils/runtime-deploy/backend/lib/users/usersService.js
/.deploy-utils/runtime-deploy/backend/lib/users/usersService.ts
/.deploy-utils/runtime-deploy/backend/lib/users/userstore.js
/.deploy-utils/runtime-deploy/backend/lib/users/userstore.ts
/.deploy-utils/runtime-deploy/backend/lib/vermietungen/vermietungenService.js
/.deploy-utils/runtime-deploy/backend/lib/vermietungen/vermietungenService.ts
/.deploy-utils/runtime-deploy/backend/lib/vermietungen/vermietungenstore.js
/.deploy-utils/runtime-deploy/backend/lib/vermietungen/vermietungenstore.ts
/.deploy-utils/runtime-deploy/backend/lib/wiki/gitExec.js
/.deploy-utils/runtime-deploy/backend/lib/wiki/gitExec.ts
/.deploy-utils/runtime-deploy/backend/lib/wiki/gitmech.js
/.deploy-utils/runtime-deploy/backend/lib/wiki/gitmech.ts
/.deploy-utils/runtime-deploy/backend/lib/wiki/README.md
/.deploy-utils/runtime-deploy/backend/lib/wiki/wikiService.js
/.deploy-utils/runtime-deploy/backend/lib/wiki/wikiService.ts
/.deploy-utils/runtime-deploy/backend/rest/calendar.js
/.deploy-utils/runtime-deploy/backend/rest/calendar.ts
/.deploy-utils/runtime-deploy/backend/rest/checkAccessHandlers.js
/.deploy-utils/runtime-deploy/backend/rest/checkAccessHandlers.ts
/.deploy-utils/runtime-deploy/backend/rest/history.js
/.deploy-utils/runtime-deploy/backend/rest/history.ts
/.deploy-utils/runtime-deploy/backend/rest/index.js
/.deploy-utils/runtime-deploy/backend/rest/index.ts
/.deploy-utils/runtime-deploy/backend/rest/konzerte.js
/.deploy-utils/runtime-deploy/backend/rest/konzerte.ts
/.deploy-utils/runtime-deploy/backend/rest/mail.js
/.deploy-utils/runtime-deploy/backend/rest/mail.ts
/.deploy-utils/runtime-deploy/backend/rest/optionen.js
/.deploy-utils/runtime-deploy/backend/rest/optionen.ts
/.deploy-utils/runtime-deploy/backend/rest/programmheft.js
/.deploy-utils/runtime-deploy/backend/rest/programmheft.ts
/.deploy-utils/runtime-deploy/backend/rest/riders.js
/.deploy-utils/runtime-deploy/backend/rest/riders.ts
/.deploy-utils/runtime-deploy/backend/rest/users.js
/.deploy-utils/runtime-deploy/backend/rest/users.ts
/.deploy-utils/runtime-deploy/backend/rest/vermietungen.js
/.deploy-utils/runtime-deploy/backend/rest/vermietungen.ts
/.deploy-utils/runtime-deploy/backend/rest/wiki.js
/.deploy-utils/runtime-deploy/backend/rest/wiki.ts
/.deploy-utils/runtime-deploy/backend/sass/jc-backoffice.scss
/.deploy-utils/runtime-deploy/backend/sass/jc-variables.scss
/.deploy-utils/runtime-deploy/backend/sass/README.md
/.deploy-utils/runtime-deploy/backend/static/fonts/fonts.css
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600.eot
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600.svg
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600.ttf
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600.woff
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600.woff2
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600italic.eot
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600italic.svg
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600italic.ttf
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600italic.woff
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-600italic.woff2
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-italic.eot
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-italic.svg
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-italic.ttf
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-italic.woff
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-italic.woff2
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-regular.eot
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-regular.svg
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-regular.ttf
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-regular.woff
/.deploy-utils/runtime-deploy/backend/static/fonts/montserrat-v14-latin-regular.woff2
/.deploy-utils/runtime-deploy/backend/static/reporting/bawue.png
/.deploy-utils/runtime-deploy/backend/static/reporting/city.png
/.deploy-utils/runtime-deploy/backend/static/reporting/jazzunion.png
/.deploy-utils/runtime-deploy/backend/static/reporting/jazzverband.png
/.deploy-utils/runtime-deploy/backend/static/reporting/livekomm.png
/.deploy-utils/runtime-deploy/backend/static/reporting/logo.png
/.deploy-utils/runtime-deploy/backend/static/reporting/meka.png
/.deploy-utils/runtime-deploy/backend/static/reporting/niklas.png
/.deploy-utils/runtime-deploy/backend/static/reporting/ring.png
/.deploy-utils/runtime-deploy/backend/static/reporting/stadt.png
/.deploy-utils/runtime-deploy/backend/static/reporting/union.png
/.deploy-utils/runtime-deploy/backend/static/rider/assets/main-3-TLUiAT.css
/.deploy-utils/runtime-deploy/backend/static/rider/assets/main-nqZ1DhoG.js
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/fonts.css
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600.eot
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600.svg
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600.ttf
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600.woff
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600.woff2
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600italic.eot
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600italic.svg
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600italic.ttf
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600italic.woff
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-600italic.woff2
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-italic.eot
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-italic.svg
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-italic.ttf
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-italic.woff
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-italic.woff2
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-regular.eot
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-regular.svg
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-regular.ttf
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-regular.woff
/.deploy-utils/runtime-deploy/backend/static/rider/fonts/montserrat-v14-latin-regular.woff2
/.deploy-utils/runtime-deploy/backend/static/rider/img/favicon.ico
/.deploy-utils/runtime-deploy/backend/static/rider/img/Festival_Icon.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/logo-square.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/logo-square-180.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/logo-square-192.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/logo-square-512.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/logo_weiss.png
/.deploy-utils/runtime-deploy/backend/static/rider/img/rex_14x14.png
/.deploy-utils/runtime-deploy/backend/static/rider/index.html
/.deploy-utils/runtime-deploy/backend/static/riderimg/Bench.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Drums.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Fender.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/GallienKrueger.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Markbass.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Nord.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/NordStage.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/PercussionSet.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/pianoschema.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/pianoschema.svg
/.deploy-utils/runtime-deploy/backend/static/riderimg/Polytone.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Rhodes.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/RhodesMark1.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/Roland.png
/.deploy-utils/runtime-deploy/backend/static/riderimg/yamaha.jpg
/.deploy-utils/runtime-deploy/backend/static/stylesheets/screen.css
/.deploy-utils/runtime-deploy/backend/static/upload/placeholder.txt
/.deploy-utils/runtime-deploy/backend/static/vue/assets/main-atGlRq3J.css
/.deploy-utils/runtime-deploy/backend/static/vue/assets/main-B1ZYLA5O.js
/.deploy-utils/runtime-deploy/backend/static/vue/assets/main-DG-d9NwV.js
/.deploy-utils/runtime-deploy/backend/static/vue/assets/main-sr9yYKKQ.js
/.deploy-utils/runtime-deploy/backend/static/vue/assets/workbox-window.prod.es5-B9K5rw8f.js
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/fonts.css
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600.eot
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600.svg
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600.ttf
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600.woff
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600.woff2
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600italic.eot
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600italic.svg
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600italic.ttf
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600italic.woff
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-600italic.woff2
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-italic.eot
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-italic.svg
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-italic.ttf
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-italic.woff
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-italic.woff2
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-regular.eot
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-regular.svg
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-regular.ttf
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-regular.woff
/.deploy-utils/runtime-deploy/backend/static/vue/fonts/montserrat-v14-latin-regular.woff2
/.deploy-utils/runtime-deploy/backend/static/vue/img/favicon.ico
/.deploy-utils/runtime-deploy/backend/static/vue/img/Festival_Icon.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/logo-square.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/logo-square-180.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/logo-square-192.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/logo-square-512.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/logo_weiss.png
/.deploy-utils/runtime-deploy/backend/static/vue/img/rex_14x14.png
/.deploy-utils/runtime-deploy/backend/static/vue/index.html
/.deploy-utils/runtime-deploy/backend/static/vue/manifest.webmanifest
/.deploy-utils/runtime-deploy/backend/static/vue/sw.js
/.deploy-utils/runtime-deploy/backend/static/vue/workbox-4c320e2c.js
/.deploy-utils/runtime-deploy/backend/static/No-Image-Placeholder.svg
/.deploy-utils/runtime-deploy/backend/test/mailsender/mailRendering.test.js
/.deploy-utils/runtime-deploy/backend/test/mailsender/mailRendering.test.ts
/.deploy-utils/runtime-deploy/backend/views/500.pug
/.deploy-utils/runtime-deploy/backend/configure.js
/.deploy-utils/runtime-deploy/backend/configure.ts
/.deploy-utils/runtime-deploy/backend/configureApp.js
/.deploy-utils/runtime-deploy/backend/configureApp.ts
/.deploy-utils/runtime-deploy/backend/initWinston.js
/.deploy-utils/runtime-deploy/backend/initWinston.ts
/.deploy-utils/runtime-deploy/backend/package.json
/.deploy-utils/runtime-deploy/backend/start.js
/.deploy-utils/runtime-deploy/backend/start.ts
/.deploy-utils/runtime-deploy/backend/tsconfig.json
/.deploy-utils/runtime-deploy/batchjobs/src/gigAndRentService.js
/.deploy-utils/runtime-deploy/batchjobs/src/gigAndRentService.ts
/.deploy-utils/runtime-deploy/batchjobs/src/index.js
/.deploy-utils/runtime-deploy/batchjobs/src/index.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsForProgrammheft.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsForProgrammheft.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsForRules.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsForRules.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsKasseFehlt.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsKasseFehlt.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightly.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightly.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightlyBar.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightlyBar.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightlyPhotoAndFluegel.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsNightlyPhotoAndFluegel.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsPressetextFehlt.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsPressetextFehlt.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsStaffReminder.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailsStaffReminder.ts
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailToAdmin.js
/.deploy-utils/runtime-deploy/batchjobs/src/sendMailToAdmin.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendForRules.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendForRules.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendKasseFehlt.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendKasseFehlt.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailsBar.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailsBar.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailsForProgrammheft.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailsForProgrammheft.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailToAdmin.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailToAdmin.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailToAdminMultiResults.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendMailToAdminMultiResults.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendPresseFehlt.test.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/sendPresseFehlt.test.ts
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/testObjects.js
/.deploy-utils/runtime-deploy/batchjobs/test/mailsender/testObjects.ts
/.deploy-utils/runtime-deploy/batchjobs/test/initWinstonForTest.js
/.deploy-utils/runtime-deploy/batchjobs/test/initWinstonForTest.ts
/.deploy-utils/runtime-deploy/batchjobs/package.json
/.deploy-utils/runtime-deploy/batchjobs/tsconfig.json
/.deploy-utils/runtime-deploy/shared/commons/advancedTypes.js
/.deploy-utils/runtime-deploy/shared/commons/advancedTypes.ts
/.deploy-utils/runtime-deploy/shared/commons/compareObjects.js
/.deploy-utils/runtime-deploy/shared/commons/compareObjects.ts
/.deploy-utils/runtime-deploy/shared/commons/comparingAndTransforming.js
/.deploy-utils/runtime-deploy/shared/commons/comparingAndTransforming.ts
/.deploy-utils/runtime-deploy/shared/commons/DatumUhrzeit.js
/.deploy-utils/runtime-deploy/shared/commons/DatumUhrzeit.ts
/.deploy-utils/runtime-deploy/shared/commons/iCalendarUtils.js
/.deploy-utils/runtime-deploy/shared/commons/iCalendarUtils.ts
/.deploy-utils/runtime-deploy/shared/commons/misc.js
/.deploy-utils/runtime-deploy/shared/commons/misc.ts
/.deploy-utils/runtime-deploy/shared/commons/mixVeranstaltungenMitUsers.js
/.deploy-utils/runtime-deploy/shared/commons/mixVeranstaltungenMitUsers.ts
/.deploy-utils/runtime-deploy/shared/commons/renderer.js
/.deploy-utils/runtime-deploy/shared/commons/renderer.ts
/.deploy-utils/runtime-deploy/shared/commons/simpleConfigure.js
/.deploy-utils/runtime-deploy/shared/commons/simpleConfigure.ts
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelFormatters.js
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelFormatters.ts
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelKumulierer.js
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelKumulierer.ts
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelRowVeranstaltung.js
/.deploy-utils/runtime-deploy/shared/excelPreparation/excelRowVeranstaltung.ts
/.deploy-utils/runtime-deploy/shared/history/history.js
/.deploy-utils/runtime-deploy/shared/history/history.ts
/.deploy-utils/runtime-deploy/shared/konzert/eintrittspreise.js
/.deploy-utils/runtime-deploy/shared/konzert/eintrittspreise.ts
/.deploy-utils/runtime-deploy/shared/konzert/kasse.js
/.deploy-utils/runtime-deploy/shared/konzert/kasse.ts
/.deploy-utils/runtime-deploy/shared/konzert/konzert.js
/.deploy-utils/runtime-deploy/shared/konzert/konzert.ts
/.deploy-utils/runtime-deploy/shared/konzert/konzertKalkulation.js
/.deploy-utils/runtime-deploy/shared/konzert/konzertKalkulation.ts
/.deploy-utils/runtime-deploy/shared/konzert/unterkunft.js
/.deploy-utils/runtime-deploy/shared/konzert/unterkunft.ts
/.deploy-utils/runtime-deploy/shared/konzert/vertrag.js
/.deploy-utils/runtime-deploy/shared/konzert/vertrag.ts
/.deploy-utils/runtime-deploy/shared/mail/formatMailAddresses.js
/.deploy-utils/runtime-deploy/shared/mail/formatMailAddresses.ts
/.deploy-utils/runtime-deploy/shared/mail/mailMessage.js
/.deploy-utils/runtime-deploy/shared/mail/mailMessage.ts
/.deploy-utils/runtime-deploy/shared/mail/mailRule.js
/.deploy-utils/runtime-deploy/shared/mail/mailRule.ts
/.deploy-utils/runtime-deploy/shared/optionen/ferienIcals.js
/.deploy-utils/runtime-deploy/shared/optionen/ferienIcals.ts
/.deploy-utils/runtime-deploy/shared/optionen/optionValues.js
/.deploy-utils/runtime-deploy/shared/optionen/optionValues.ts
/.deploy-utils/runtime-deploy/shared/optionen/orte.js
/.deploy-utils/runtime-deploy/shared/optionen/orte.ts
/.deploy-utils/runtime-deploy/shared/optionen/termin.js
/.deploy-utils/runtime-deploy/shared/optionen/termin.ts
/.deploy-utils/runtime-deploy/shared/programmheft/Event.js
/.deploy-utils/runtime-deploy/shared/programmheft/Event.ts
/.deploy-utils/runtime-deploy/shared/programmheft/kalender.js
/.deploy-utils/runtime-deploy/shared/programmheft/kalender.ts
/.deploy-utils/runtime-deploy/shared/rider/inventory.js
/.deploy-utils/runtime-deploy/shared/rider/inventory.ts
/.deploy-utils/runtime-deploy/shared/rider/rider.js
/.deploy-utils/runtime-deploy/shared/rider/rider.ts
/.deploy-utils/runtime-deploy/shared/test/commons/bawue2022.ical
/.deploy-utils/runtime-deploy/shared/test/commons/comparingAndTransforming.test.js
/.deploy-utils/runtime-deploy/shared/test/commons/comparingAndTransforming.test.ts
/.deploy-utils/runtime-deploy/shared/test/commons/DatumUhrzeit.test.js
/.deploy-utils/runtime-deploy/shared/test/commons/DatumUhrzeit.test.ts
/.deploy-utils/runtime-deploy/shared/test/commons/iCalendarUtils.test.js
/.deploy-utils/runtime-deploy/shared/test/commons/iCalendarUtils.test.ts
/.deploy-utils/runtime-deploy/shared/test/commons/mixVeranstaltungenMitUsers.test.js
/.deploy-utils/runtime-deploy/shared/test/commons/mixVeranstaltungenMitUsers.test.ts
/.deploy-utils/runtime-deploy/shared/test/konzert/eintrittspreise_object.test.js
/.deploy-utils/runtime-deploy/shared/test/konzert/eintrittspreise_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/konzert/konzert_object_complete.test.js
/.deploy-utils/runtime-deploy/shared/test/konzert/konzert_object_complete.test.ts
/.deploy-utils/runtime-deploy/shared/test/konzert/kosten_object.test.js
/.deploy-utils/runtime-deploy/shared/test/konzert/kosten_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/konzert/multiday.test.js
/.deploy-utils/runtime-deploy/shared/test/konzert/multiday.test.ts
/.deploy-utils/runtime-deploy/shared/test/konzert/staff_object.test.js
/.deploy-utils/runtime-deploy/shared/test/konzert/staff_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/mail/mailRule_object.test.js
/.deploy-utils/runtime-deploy/shared/test/mail/mailRule_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/mail/message.test.js
/.deploy-utils/runtime-deploy/shared/test/mail/message.test.ts
/.deploy-utils/runtime-deploy/shared/test/optionen/orte_object.test.js
/.deploy-utils/runtime-deploy/shared/test/optionen/orte_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/programmheft/kalender_object.test.js
/.deploy-utils/runtime-deploy/shared/test/programmheft/kalender_object.test.ts
/.deploy-utils/runtime-deploy/shared/test/users/mailinglisten.test.js
/.deploy-utils/runtime-deploy/shared/test/users/mailinglisten.test.ts
/.deploy-utils/runtime-deploy/shared/test/users/users.test.js
/.deploy-utils/runtime-deploy/shared/test/users/users.test.ts
/.deploy-utils/runtime-deploy/shared/user/accessrights.js
/.deploy-utils/runtime-deploy/shared/user/accessrights.ts
/.deploy-utils/runtime-deploy/shared/user/user.js
/.deploy-utils/runtime-deploy/shared/user/user.ts
/.deploy-utils/runtime-deploy/shared/user/users.js
/.deploy-utils/runtime-deploy/shared/user/users.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/artist.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/artist.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/kontakt.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/kontakt.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/kopf.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/kopf.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/kosten.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/kosten.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/presse.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/presse.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/staff.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/staff.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/technik.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/technik.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/veranstaltung.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/veranstaltung.ts
/.deploy-utils/runtime-deploy/shared/veranstaltung/VeranstaltungFormatter.js
/.deploy-utils/runtime-deploy/shared/veranstaltung/VeranstaltungFormatter.ts
/.deploy-utils/runtime-deploy/shared/vermietung/angebot.js
/.deploy-utils/runtime-deploy/shared/vermietung/angebot.ts
/.deploy-utils/runtime-deploy/shared/vermietung/vermietung.js
/.deploy-utils/runtime-deploy/shared/vermietung/vermietung.ts
/.deploy-utils/runtime-deploy/shared/package.json
/.deploy-utils/runtime-deploy/shared/tsconfig.json
/.deploy-utils/runtime-deploy/.yarnrc.yml
/.deploy-utils/runtime-deploy/package.json
/.deploy-utils/runtime-deploy/start.js
/.deploy-utils/runtime-deploy/yarn.lock
