extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Optionen

block content
  form#optionenform(action='/optionen/submit', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons()
          .page-header
            h2 Optionen <br>
              small Bearbeiten
      .row
        .col-md-6
          +legendMitBody('allgemein', 'Allgemein')
            +editableMultiselect('typen', 'Typen', optionen.typen(), optionen.typen())
            +editableMultiselect('orte', 'Orte', optionen.orte(), optionen.orte())
            +editableMultiselect('kooperationen', 'Kooperationen', optionen.kooperationen(), optionen.kooperationen())
          +legendMitBody('backline', 'Backlines')
            +editableMultiselect('backlineJazzclub', 'Jazzclub', optionen.backlineJazzclub(), optionen.backlineJazzclub())
            +editableMultiselect('backlineRockshop', 'Rockshop', optionen.backlineRockshop(), optionen.backlineRockshop())
          +legendMitBody('werb', 'Werbung')
            .row
              .col-sm-6
                +editableMultiselect('plakatNum', 'Plakate Anzahl', optionen.plakatNum(), optionen.plakatNum())
              .col-sm-6
                +editableMultiselect('flyerNum', 'Flyer Anzahl', optionen.flyerNum(), optionen.flyerNum())
            .row
              .col-sm-6
                +editableMultiselect('plakatGroesse', 'Plakate Größe', optionen.plakatGroesse(), optionen.plakatGroesse())
              .col-sm-6
                +editableMultiselect('plakatVon', 'Aufsteller', optionen.plakatVon(), optionen.plakatVon())
          +legendMitBody('artists', 'Künstler')
            .row
              .col-sm-12
                +editableMultiselect('artists', 'Namen', optionen.artists(), optionen.artists())

        .col-md-6
          +legendMitBody('email', 'E-Mail Partner')
            for number in optionen.noOfEmails()
              .row
                .col-sm-6
                  +text('partner' + number, 'Partner', optionen.state['partner' + number])
                .col-sm-6
                  +email('email' + number, 'E-Mail', optionen.state['email' + number])
      .row
        .col-md-12
          hr
          +submitButtons()

block scripts
  script(src='/clientscripts/check-optionenform.js')
      
