extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Optionen

block content
  form#optionenform(action='/optionen/submit', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons()
          .page-header
            h2 Optionen <br>
              small Bearbeiten
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#allgemein') Allgemein
          #allgemein.collapse.in
            +editableMultiselect('typen', 'Typen', optionen.typen(), optionen.typen())
            +editableMultiselect('orte', 'Orte', optionen.orte(), optionen.orte())
            +editableMultiselect('kooperationen', 'Kooperationen', optionen.kooperationen(), optionen.kooperationen())
            +editableMultiselect('verantwortliche', 'Verantwortliche', optionen.verantwortliche(), optionen.verantwortliche())
          legend
            a(data-toggle='collapse', href='#backline') Backlines
          #backline.collapse.in
            +editableMultiselect('backlineJazzclub', 'Jazzclub', optionen.backlineJazzclub(), optionen.backlineJazzclub())
            +editableMultiselect('backlineRockshop', 'Rockshop', optionen.backlineRockshop(), optionen.backlineRockshop())
        .col-md-6
          legend
            a(data-toggle='collapse', href='#personal') Personal
          #personal.collapse.in
            +editableMultiselect('techniker', 'Techniker', optionen.techniker(), optionen.techniker())
            +editableMultiselect('merchandise', 'Merchandise', optionen.merchandise(), optionen.merchandise())
            +editableMultiselect('kasse', 'Kasse', optionen.kasse(), optionen.kasse())
            +editableMultiselect('fremdpersonal', 'Fremdpersonal', optionen.fremdpersonal(), optionen.fremdpersonal())
          legend
            a(data-toggle='collapse', href='#preise') Vorgaben Preis
          #preise.collapse.in
            .row
              .col-md-4
                +currency('technikerEUR', 'Techniker', optionen.technikerEUR())
              .col-md-4
                +currency('merchandiseEUR', 'Merchandise', optionen.merchandiseEUR())
              .col-md-4
                +currency('kasseEUR', 'Kasse', optionen.kasseEUR())
            .row
              .col-md-4
                +currency('layoutingEUR', 'Grafikdesign', optionen.layoutingEUR())

      .row
        .col-md-12
          hr
          +submitButtons()

