extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Optionen

block content
  form#optionenform(action='/optionen/submit', method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          +submitButtons()
          .page-header
            h2 Optionen <br>
              small Bearbeiten
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#allgemein') Allgemein
          #allgemein.collapse.in
            +editableMultiselect('typen', 'Typen', optionen.typen(), optionen.typen())
            +editableMultiselect('orte', 'Orte', optionen.orte(), optionen.orte())
            +editableMultiselect('kooperationen', 'Kooperationen', optionen.kooperationen(), optionen.kooperationen())
        .col-md-6
          legend
            a(data-toggle='collapse', href='#personal') Personal
          #personal.collapse.in
            .row
              .col-sm-6
                +editableMultiselect('verantwortliche', 'Verantwortliche', optionen.verantwortliche(), optionen.verantwortliche())
              .col-sm-6
                +editableMultiselect('techniker', 'Techniker', optionen.techniker(), optionen.techniker())
            .row
              .col-sm-6
                +editableMultiselect('kasse', 'Kasse', optionen.kasse(), optionen.kasse())
              .col-sm-6
                +editableMultiselect('merchandise', 'Merchandise', optionen.merchandise(), optionen.merchandise())
            .row
              .col-sm-6
                +editableMultiselect('fremdpersonal', 'Fremdpersonal', optionen.fremdpersonal(), optionen.fremdpersonal())
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#backline') Backlines
          #backline.collapse.in
            +editableMultiselect('backlineJazzclub', 'Jazzclub', optionen.backlineJazzclub(), optionen.backlineJazzclub())
            +editableMultiselect('backlineRockshop', 'Rockshop', optionen.backlineRockshop(), optionen.backlineRockshop())
        .col-md-6
          legend
            a(data-toggle='collapse', href='#werb') Werbung
          #werb.collapse.in
            .row
              .col-sm-6
                +editableMultiselect('plakatNum', 'Plakate Anzahl', optionen.plakatNum(), optionen.plakatNum())
              .col-sm-6
                +editableMultiselect('flyerNum', 'Flyer Anzahl', optionen.flyerNum(), optionen.flyerNum())
            .row
              .col-sm-6
                +editableMultiselect('plakatGroesse', 'Plakate Größe', optionen.plakatGroesse(), optionen.plakatGroesse())
              .col-sm-6
                +editableMultiselect('plakatVon', 'Aufsteller', optionen.plakatVon(), optionen.plakatVon())
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#preise') Vorgaben Preis
          #preise.collapse.in
            .row
              .col-md-3.col-sm-6
                +currency('technikerEUR', 'Techniker', optionen.technikerEUR())
              .col-md-3.col-sm-6
                +currency('merchandiseEUR', 'Merchandise', optionen.merchandiseEUR())
              .col-md-3.col-sm-6
                +currency('kasseEUR', 'Kasse', optionen.kasseEUR())
              .col-md-3.col-sm-6
                +currency('layoutingEUR', 'Grafikdesign', optionen.layoutingEUR())
        .col-md-6
          legend
            a(data-toggle='collapse', href='#email') E-Mail Partner
          #email.collapse.in
            for number in [1,2,3,4,5]
              .row
                .col-sm-6
                  +text('partner' + number, 'Partner', optionen['partner' + number]())
                .col-sm-6
                  +text('email' + number, 'E-Mail', optionen['email' + number]())
      .row
        .col-md-12
          hr
          +submitButtons()

