extends ../../../views/layout
include ../../../views/formComponents

block title
  | Optionen

block content
  .col-12
    form#optionenform(action="/optionen/submit", method="post")
      +csrf
      fieldset
        .row
          .col-12
            .page-header
              +submitButtons
              .page-header
                h2 Optionen <br>
                  small Bearbeiten
        .row
          .col-md-6
            +legendMitBody('allgemein', 'Allgemein')
              +editableMultiselect('typen', 'Typen', optionen.typen, optionen.typen)
              +editableMultiselect('kooperationen', 'Kooperationen', optionen.kooperationen, optionen.kooperationen)
              +editableMultiselect('genres', 'Genres', optionen.genres, optionen.genres)
            +legendMitBody('backline', 'Backlines')
              +editableMultiselect('backlineJazzclub', 'Jazzclub', optionen.backlineJazzclub, optionen.backlineJazzclub)
              +editableMultiselect('backlineRockshop', 'Rockshop', optionen.backlineRockshop, optionen.backlineRockshop)

          .col-md-6
            +legendMitBody('artists', 'Künstler')
              .row
                .col-sm-12
                  +editableMultiselect('artists', 'Namen', optionen.artists, optionen.artists)
        .row
          .col-12
            hr
            +submitButtons
