include ../../../../views/formComponents

mixin band(kosten)
  div
    +legendMitBody('band', 'Band', 'bandTotal')
      .row
        .col-3(style='padding-right: 5px;')
          +currency('kosten[gagenEUR]', 'Gagen', kosten.gagenEUR())
        .col-3(style='padding-left: 2px;padding-right: 2px;')
          +singleselect('kosten[gagenSteuer]', 'Steuer', kosten.gagenSteuer(), ['ohne', '7% MWSt.', '19% MWSt.', '18,8% Ausland'])
        .col-3(style='padding-left: 2px;padding-right: 2px;')
          +singleselect('kosten[deal]', 'Deal', kosten.deal(), ['ohne', '100%', '90%', '80%', '70%', '60%'])
        .col-3(style='padding-left: 5px;')
          .form-group
            label.control-label Total:
            p: b
              +currencySpan(null, 'gagenTotal', 'form-control-static float-right text-success')
      .row
        .col-6
          +checkbox('kosten[gageBAR]', 'Gage in BAR an der Abendkasse', kosten.gageBAR())

mixin bandScript
  script.
    $(document).ready(function () {
      var gagenEUR = $('#kosten\\[gagenEUR\\]');
      var gagenSteuer = $('#kosten\\[gagenSteuer\\]');
      var gagenTotal = $('#gagenTotal');

      function updateGagenTotal() {
        var eur = floatAmount(gagenEUR);
        var mwst = (eur * floatAmount(gagenSteuer) / 100);
        setEuro(gagenTotal, eur + mwst);
      }

      gagenEUR.keyup(updateGagenTotal);
      gagenSteuer.change(updateGagenTotal);
      updateGagenTotal();

      function updateBandTotal() {
        setEuro($('#bandTotal'), floatAmountForSpan(gagenTotal));
      }

      [gagenTotal].forEach(function (field) {
        field.change(updateBandTotal);
      })
      updateBandTotal();
    });
