extends ../../../../views/layout
include ../../../../views/formComponents
include kontaktMixins
include mixins

mixin zimmerNumEUR(name, label)
  .col-sm-4
    .row
      .col-6
        +number('unterkunft[' + name + 'Num]', label, unterkunft[name + 'Num'](), null, '0', '80')
      .col-6
        +currency('unterkunft[' + name + 'EUR]', 'Preis', unterkunft[name + 'EUR']())

block title
  | Veranstaltung

block content
  - var unterkunft = veranstaltung.unterkunft();
  .col-12
    form#hotelform.needs-validation(action="/veranstaltungen/submit", method="post", novalidate)
      +editHeader(veranstaltung, 'hotel')
        .col-md-6
          +kontakt(veranstaltung, optionen.hotelsForSelection(), 'Hotel', 'hotel', 'hotel')
          +legendMitBody('zimmer', 'Zimmer', 'roomsTotal', 'hotel')
            .row
              .col-4
                +date('unterkunft[anreiseDate]', 'Anreise', unterkunft.anreiseDisplayDate(), 'Diese Werte haben Einfluß auf den berechneten Preis', unterkunft.minimalStartForHotel())
                +date('unterkunft[abreiseDate]', 'Abreise', unterkunft.abreiseDisplayDate(), null, unterkunft.minimalStartForHotel())
                label
                  span#naechte 0
                  span #{''} Nächte
              .col-8
                +textareaPure('unterkunft[kommentar]', 'Kommentar', unterkunft.kommentar(), 'Name der Gäste')
            .row
              +zimmerNumEUR('einzel', 'Einzel')
              +zimmerNumEUR('doppel', 'Doppel')
              +zimmerNumEUR('suite', 'Suite')
            .row
              .col-12
                +checkbox('hotelpreise', 'Preise als Default übernehmen')

        .col-md-6
          +legendMitBody('transport', 'Transport', 'transportTotal', 'hotel')
            +textareaPure('unterkunft[transportText]', 'Anmerkungen', unterkunft.transportText(), 'Wer, wann, wo abholen, hinbringen?')
            .row
              .col-md-6
                +multiselect('unterkunft[sonstiges]', 'Bus / Sonstiges', unterkunft.sonstiges(), ['Parkgenehmigung', 'Stromanschluss'])
              .col-md-6
                +currency('unterkunft[transportEUR]', 'Summe', unterkunft.transportEUR())
          .row
            .col-6
              +checkbox('unterkunft[angefragt]', 'Hotel Angefragt', unterkunft.angefragt())
            .col-6
              +checkbox('unterkunft[bestaetigt]', 'Hotel Bestätigt', unterkunft.bestaetigt())
          .row
            .col-12
              p #{''}
              a#reservierungsmail.btn.btn-success(href="#") Reservierungsmail

block head
  link(rel="stylesheet", href="/stylesheets/bootstrap-datepicker3.css")

block scripts
  script(src="/clientscripts/bootstrap-datepicker.min.js")
  script(src="/clientscripts/bootstrap-datepicker.de.min.js")
  +kontaktScript('hotel', 'hotelchanged')
  script.
    var updatePreise;
    function hotelchanged(auswahl) {
      $.ajax('/optionen/preiseForAuswahl', {data: {auswahl: auswahl}})
       .done(function (result) {
         if (result) {
           updatePreise(result);
         }
       })
    }

    $(document).ready(function () {
      var einzelEUR = $('#unterkunft\\[einzelEUR\\]');
      var einzelNum = $('#unterkunft\\[einzelNum\\]');
      var doppelEUR = $('#unterkunft\\[doppelEUR\\]');
      var doppelNum = $('#unterkunft\\[doppelNum\\]');
      var suiteEUR = $('#unterkunft\\[suiteEUR\\]');
      var suiteNum = $('#unterkunft\\[suiteNum\\]');
      var startDateField = $('#unterkunft\\[anreiseDate\\]');
      var endDateField = $('#unterkunft\\[abreiseDate\\]');

      updatePreise = function (preise) {
        setEuroInput(einzelEUR, preise.einzelEUR);
        setEuroInput(doppelEUR, preise.doppelEUR);
        setEuroInput(suiteEUR, preise.suiteEUR);
      }

      function anzahlTage() {
        var startDate = startDateField.datepicker('getDate');
        var endDate = endDateField.datepicker('getDate');

        return startDate && endDate ? Math.round((endDate.getTime() - startDate.getTime()) / 86400000) : 0;
      }

      function updateRoomsTotal() {
        var days = anzahlTage();
        var total = floatAmount(einzelEUR) * intAmount(einzelNum) * days
          + floatAmount(doppelEUR) * intAmount(doppelNum) * days
          + floatAmount(suiteEUR) * intAmount(suiteNum) * days;
        setEuro($('#roomsTotal'), total);
        $('#naechte').html(days);
      }

      [einzelEUR, doppelEUR, suiteEUR, startDateField, endDateField].forEach(function (field) {
        field.keyup(updateRoomsTotal);
      });
      [einzelNum, doppelNum, suiteNum, startDateField, endDateField].forEach(function (field) {
        field.change(updateRoomsTotal);
      });
      updateRoomsTotal();

      var transportEUR = $('#unterkunft\\[transportEUR\\]');

      function updateTransportTotal() {
        setEuro($('#transportTotal'), floatAmount(transportEUR))
      }

      transportEUR.keyup(updateTransportTotal);
      updateTransportTotal();

      $('#reservierungsmail').click(function () {
        var hotelEmail = $('#hotel\\[email\\]');
        var hotelName = $('#hotel\\[name\\]');
        var anzahlEinzel = intAmount(einzelNum);
        var anzahlDoppel = intAmount(doppelNum);
        var anzahlSuite = intAmount(suiteNum);
        var tage = anzahlTage();
        var gaeste = $('#unterkunft\\[kommentar\\]').val();

        var startDate = new Intl.DateTimeFormat('de-de').format(startDateField.datepicker('getDate'));
        var endDate = new Intl.DateTimeFormat('de-de').format(endDateField.datepicker('getDate'));

        var email = encodeURIComponent(hotelName.val() + '<' + hotelEmail.val() + '>');
        var subject = encodeURIComponent('Jazzclub Reservierungsanfrage für ' + startDate);
        var body = encodeURIComponent(
          'Sehr geehrte Damen und Herren,\r\n' +
          'bitte reservieren Sie für den Jazzclub Karlsruhe e.V.:\r\n' +
          (!!anzahlEinzel ? (anzahlEinzel + ' Einzelzimmer,\r\n') : '') +
          (!!anzahlDoppel ? (anzahlDoppel + ' Doppelzimmer,\r\n') : '') +
          (!!anzahlSuite ? (anzahlSuite + ' Suite(n),\r\n') : '') +
          '\r\nfür ' + tage + ' Nächte.\r\n' +
          'Anreise: ' + startDate + '\r\n' +
          'Abreise: ' + endDate + '\r\n' +
          '\r\nGäste:\r\n' + gaeste
        );

        var href = 'mailto:' + email + '?subject=' + subject + '&body=' + body;
        window.location.href = href;
      });
    });
