include ../../../../views/formComponents

mixin submitButtonsFor(veranstaltung, current, nosave)
  .btn-group.btn-group-sm.float-right
    if accessrights.isOrgaTeam()
      if nosave
        a.btn.btn-light(href='/veranstaltungen/zukünftige', data-toggle='tooltip', title='Zurück zur Liste'): i.fas.fa-list.fa-fw
      else
        a.btn.btn-light(href=veranstaltung.fullyQualifiedUrl(), data-toggle='tooltip', title='Zurück'): i.fas.fa-arrow-left.fa-fw
      +submitButton(veranstaltung, current, 'kopf', 'Allgemeines', 'btn-general', 'fa-keyboard')
      +submitButton(veranstaltung, current, 'ausgaben', 'Ausgaben', 'btn-costs', 'fa-euro-sign')
      +submitButton(veranstaltung, current, 'hotel', 'Hotel', 'btn-hotel', 'fa-bed')
    +submitButton(veranstaltung, current, 'kasse', 'Kasse', 'btn-kasse', 'fa-money-bill-alt')
    +submitButton(veranstaltung, current, 'kassenzettel', 'Kassenzettel', 'btn-kasse', 'fa-print')
    if accessrights.isOrgaTeam()
      +submitButton(veranstaltung, current, 'presse', 'Presse', 'btn-presse', 'fa-newspaper')
      if veranstaltung.url() && !veranstaltung.kopf().confirmed()
        a(class='btn btn-light', href=veranstaltung.fullyQualifiedUrl() + '/delete') Löschen
      if veranstaltung.url()
        +submitButton(veranstaltung, current, 'copy', 'Kopieren', 'btn-light', 'fa-copy ')

    if !nosave
      button.btn.btn-success(type='submit', data-toggle='tooltip', title='Speichern'): i.far.fa-save.fa-fw

