extends ../../../../views/layout
include ../../../../views/formComponents
include mixins

block title
  | Veranstaltung

block content
  -var kosten = veranstaltung.kosten()
  -var kopf = veranstaltung.kopf()
  .col-12
    form#ausgabenform(action='/veranstaltungen/submit', method='post')
      +csrf
      +hidden('id', veranstaltung.id())
      +hidden('kopf[confirmed]', veranstaltung.kopf().confirmed() ? 'on' : undefined)
      fieldset
        .row
          .col-12
            .page-header
              +submitButtonsFor(veranstaltung, 'technik')
              h2.text-misc #{kopf.titel()} am #{veranstaltung.datumForDisplayShort()}<br>
                small.text-misc Technik
              +checkbox('kosten[checked]', 'Technik ist geklärt', kosten.checked())
            +legendMitBody('backline', 'Rider und Backline', 'backlinePreis', 'misc')
              .row
                .col-xl-6
                  +uploader('riderupload', 'Rider', null, kosten.dateirider(), {id: veranstaltung.id(), typ: 'rider'})
                .col-xl-6
                  .row
                    .col-sm-9
                      +editableMultiselect('kosten[backlineJazzclub]', 'Backline Jazzclub', kosten.backlineJazzclub(), optionen.backlineJazzclub())
                  .row
                    .col-sm-9
                      +editableMultiselect('kosten[backlineRockshop]', 'Backline Rockshop', kosten.backlineRockshop(), optionen.backlineRockshop())
                    .col-sm-3
                      +currency('kosten[backlineEUR]', 'Betrag', kosten.backlineEUR())
                  .row
                    .col-sm-9
                      +text('kosten[technikAngebot1]', 'Technik Zumietung', kosten.technikAngebot1())
                    .col-sm-3
                      +currency('kosten[technikAngebot1EUR]', 'Betrag', kosten.technikAngebot1EUR())
                  +checkbox('kosten[fluegel]', 'Flügel stimmen', kosten.fluegel())
            +submitButtonsFor(veranstaltung, 'technik')

block head
  link(rel='stylesheet', href='/stylesheets/fileinput.css')

block scripts
  script(src='/clientscripts/fileinput.min.js')
  script.
    $(document).ready(function initAusgabenScript() {
      var backlineEUR = $('#kosten\\[backlineEUR\\]');
      var technikAngebot1EUR = $('#kosten\\[technikAngebot1EUR\\]');
      var technikAngebot2EUR = $('#kosten\\[technikAngebot2EUR\\]');

      function updateBacklinePreis() {
        setEuro($('#backlinePreis'), floatAmount(backlineEUR) + floatAmount(technikAngebot1EUR) + floatAmount(technikAngebot2EUR));
      }
      backlineEUR.keyup(updateBacklinePreis);
      technikAngebot1EUR.keyup(updateBacklinePreis);
      technikAngebot2EUR.keyup(updateBacklinePreis);
      updateBacklinePreis();

      var saalmiete = $('#kosten\\[saalmiete\\]');
      function updateSaalmietePreis() {
        setEuro($('#saalmietePreis'), floatAmount(saalmiete));
      }
      saalmiete.keyup(updateSaalmietePreis);
      updateSaalmietePreis();
    });

