mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block hidden-print ' + contents.type)
    button.close(type='button', data-dismiss='alert') &times;
    h4 #{contents.title}
    | #{contents.text}

mixin topNavbar
  header.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href='/')
      img(src='/img/logo_weiss.png', alt='Jazzclub')
    a.btn.btn-default.navbar-toggler(data-toggle='collapse', data-target='.collapse-top')
      span.sr-only Toggle
      i.fas.fa-bars.fa-lg.fa-inverse

    .navbar-collapse.collapse.collapse-top
      ul.navbar-nav
        if user && (accessrights.isOrgaTeam())
          li.nav-item(data-jcnav='veranstaltungen')
            a.nav-link(href='/veranstaltungen/zukuenftige')
              i.far.fa-calendar-alt.fa-fw.fa-lg
              span.hidden-sm &nbsp;Veranstaltungen&nbsp;
          li.nav-item.dropdown(data-jcnav='optionen')
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-cogs.fa-fw.fa-lg
              span.hidden-sm &nbsp;Optionen
            .dropdown-menu
              a.dropdown-item(href='/optionen') Optionen
              a.dropdown-item(href='/optionen/orte') Orte
          li.nav-item(data-jcnav='gema'): a.nav-link(href='/gema')
            i.fas.fa-chart-pie.fa-fw.fa-lg
            span.hidden-sm &nbsp;GEMA
        if user && (accessrights.isSuperuser())
          li.nav-item.dropdown(data-jcnav='mailsender')
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fas.fa-envelope.fa-fw.fa-lg
              span.hidden-sm &nbsp;Mails
            .dropdown-menu
              a.dropdown-item(href='/mailsender') Regeln
              a.dropdown-item(href='/mailsender/compose') Manuell
              a.dropdown-item(href='/mailsender/emailAddresses') Emailadressen bearbeiten
          li.nav-item.dropdown(data-jcnav='users')
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fas.fa-users.fa-fw.fa-lg
              span.hidden-sm &nbsp;User
            .dropdown-menu
              a.dropdown-item(href='/users') Bearbeiten / Anlegen
              a.dropdown-item(href='/users/rundmail') Rundmail an alle
          li.nav-item.dropdown(data-jcnav='teamseite')
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              i.far.fa-hand-paper.fa-fw.fa-lg
              span.hidden-sm &nbsp;Team
            .dropdown-menu
              a.dropdown-item(href='/teamseite/admin') Admin
              a.dropdown-item(href='/teamseite') Normal
        else
          li.nav-item(data-jcnav='teamseite')
            a.nav-link(href='/teamseite')
              i.fa.fa-hand-paper-o.fa-fw.fa-lg
              | &nbsp;Team&nbsp;
        li.nav-item.dropdown(data-jcnav='wiki')
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fas.fa-book.fa-fw.fa-lg
            span.hidden-sm &nbsp;Wiki&nbsp;
          .dropdown-menu
            for subdir in wikisubdirs
              a.dropdown-item(href='/wiki/' + subdir + '/') #{subdir}
    
        li.nav-item: a.nav-link(href='/logout')
          i.fas.fa-sign-out-alt.fa-fw.fa-lg
          | &nbsp;Abmelden
