mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block hidden-print ' + contents.type)
    button.close(type='button', data-dismiss='alert') &times;
    h4 #{contents.title}
    | #{contents.text}

mixin topNavbar(xs)
  .navbar-header
    a.navbar-brand(href='/')
      img(src='/img/logo_weiss.png', alt='Jazzclub')
    a.btn.btn-default.navbar-toggle(data-toggle='collapse', data-target='.collapse-top')
      span.sr-only Toggle
      i.fa.fa-bars.fa-lg.fa-inverse

  .navbar-collapse.collapse.collapse-top
    ul.nav.navbar-nav.bottom
      if user && (accessrights.hasSomeGroupAssigned())
        li(data-jcnav='veranstaltungen')
          a(href='/veranstaltungen/zukuenftige')
            i.fa.fa-calendar.fa-fw.fa-lg
            | &nbsp;Veranstaltungen&nbsp;
        li(data-jcnav='optionen'): a(href='/optionen')
          i.fa.fa-cogs.fa-fw.fa-lg
          | &nbsp;Optionen
      if user && (accessrights.isSuperuser())
        li(data-jcnav='mailsender'): a(href='/mailsender')
          i.fa.fa-envelope-o.fa-fw.fa-lg
          | &nbsp;Mails senden
        li(data-jcnav='users'): a(href='/users')
          i.fa.fa-users.fa-fw
          | &nbsp;User
      if user && (accessrights.hasSomeGroupAssigned())
        li(data-jcnav='gema'): a(href='/gema')
          i.fa.i.fa.i.fa.fa-pie-chart.fa-fw
          | &nbsp;GEMA
        li(data-jcnav='mailsender'): a(href='/users/rundmail')
          i.fa.i.fa.fa-envelope.fa-fw
          | &nbsp;Rundmail an alle User
      li(data-jcnav='teamseite')
        a(href='/teamseite')
          i.fa.fa-hand-paper-o.fa-fw.fa-lg
          | &nbsp;Kasse/Technik&nbsp;
      li(data-jcnav='wiki')
        a(href='#')
          i.fa.fa-book.fa-fw
          span.hidden-sm &nbsp;Wiki&nbsp;
        ul.dropdown-menu
          for subdir in wikisubdirs
            li: a(href='/wiki/' + subdir + '/') #{subdir}

      li: a(href='/logout')
        i.fa.fa-sign-out.fa-fw
        | &nbsp;Abmelden
