mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block hidden-print ' + contents.type)
    button.close(type='button', data-dismiss='alert') &times;
    h4 #{contents.title}
    | #{contents.text}

mixin topNavbar
  header.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/')
      img(src='/img/logo_weiss.png', alt='Jazzclub')
    a.btn.btn-default.navbar-toggler(data-toggle='collapse', data-target='#navbarCollapse')
      span.sr-only Toggle
      i.fa.fa-bars.fa-lg.fa-inverse

    #navbarCollapse.navbar-collapse.collapse
      ul.navbar-nav
        if user && (accessrights.hasSomeGroupAssigned())
          li.nav-item(data-jcnav='veranstaltungen')
            a.nav-link(href='/veranstaltungen/zukuenftige')
              i.fa.fa-calendar.fa-fw.fa-lg
              | &nbsp;Veranstaltungen&nbsp;
          li.nav-item(data-jcnav='optionen')
            a.nav-link(href='/optionen')
              i.fa.fa-cogs.fa-fw.fa-lg
              | &nbsp;Optionen
        if user && (accessrights.isSuperuser())
          li.nav-item(data-jcnav='mailsender')
            a.nav-link(href='/mailsender')
              i.fa.fa-envelope-o.fa-fw.fa-lg
              | &nbsp;Mails
          li.nav-item(data-jcnav='users')
            a.nav-link(href='/users')
              i.fa.fa-users.fa-fw
              | &nbsp;User
        if user && (accessrights.hasSomeGroupAssigned())
          li.nav-item(data-jcnav='gema')
            a.nav-link(href='/gema')
              i.fa.i.fa.i.fa.fa-pie-chart.fa-fw
              | &nbsp;GEMA
          li.nav-item(data-jcnav='mailsender')
            a.nav-link(href='/users/rundmail')
              i.fa.i.fa.fa-envelope.fa-fw
              | &nbsp;Mail an alle
        li.nav-item(data-jcnav='teamseite')
          a.nav-link(href='/teamseite')
            i.fa.fa-hand-paper-o.fa-fw.fa-lg
            | &nbsp;Team&nbsp;
        li.nav-item.dropdown(data-jcnav='wiki')
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-book.fa-fw
            span.hidden-sm &nbsp;Wiki&nbsp;
          .dropdown-menu
            for subdir in wikisubdirs
              a.dropdown-item(href='/wiki/' + subdir + '/') #{subdir}
  
        li.nav-item: a.nav-link(href='/logout')
          i.fa.fa-sign-out.fa-fw
          | &nbsp;Abmelden
