include layoutComponents

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-60x60-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-76x76-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon-152x152-precomposed.png')
    link(href='/stylesheets/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    title
      block title
      | &nbsp;- JC-Backoffice
    
  body
    #cheatsheet.modal.bs-modal-lg.fade(tabindex='-1')
      .modal-dialog.modal-lg
        .modal-content
    .navbar.navbar-inverse.navbar-fixed-top.hidden-print.hidden-xs(role='navigation')
      +topNavbar
    .navbar.navbar-inverse.navbar-top.hidden-print.visible-xs(role='navigation')
      +topNavbar('xs')
    .container-fluid
      .row.main
        if (statusmessage)
          +notificationsBlock(statusmessage)
        block content
  
script(src='/clientscripts/global.js')
block scripts
