mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block hidden-print ' + contents.type)
    button.close(type='button', data-dismiss='alert') &times;
    h4 #{t(contents.title)}
    | #{t(contents.text, contents.additionalArguments)}

mixin topNavbar(xs)
  .navbar-header
    a.navbar-brand(href='/')
      img(src='/img/logo_weiss.png', alt='Jazzclub')
    a.btn.btn-default.navbar-toggle(data-toggle='collapse', data-target='.collapse-top')
      span.sr-only Toggle
      i.fa.fa-bars.fa-lg.fa-inverse

  .navbar-collapse.collapse.collapse-top
    ul.nav.navbar-nav.bottom
      li(data-jcnav='veranstaltungen')
        a(href='#')
          i.fa.fa-calendar.fa-fw.fa-lg
          span.hidden-sm &nbsp;Veranstaltungen&nbsp;
        ul.dropdown-menu
          li
            a(href='/veranstaltungen/zukuenftige') Zukünftige
            a(href='/veranstaltungen/vergangene') Vergangene
      li(data-jcnav='optionen'): a(href='/optionen')
        i.fa.fa-cogs.fa-fw.fa-lg
        | &nbsp;Optionen
      if user && (user.id === 'leider' || user.id === 'niklas')
        li(data-jcnav='mailsender'): a(href='/mailsender')
          i.fa.fa-envelope-o.fa-fw.fa-lg
          | &nbsp;Mails senden
      li(data-jcnav='users')
        a(href='#')
          i.fa.fa-user.fa-fw.fa-lg
          span.hidden-sm &nbsp;User&nbsp;
        ul.dropdown-menu
          li
            a(href='/users')
              i.fa.fa-users.fa-fw
              | &nbsp;Liste
            a(href='/logout')
              i.fa.fa-sign-out.fa-fw
              | &nbsp;Abmelden
