:root {
  --fc-small-font-size: .85em;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-event-bg-color: #6884a3;
  --fc-event-border-color: #507088;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.fc-daygrid-event {
  white-space: normal;
}

.dark-calendar {
  --fc-page-bg-color: #101010;

  --fc-button-text-color: #dcdcdc;
  --fc-button-bg-color: #1a252f;
  --fc-button-border-color: #30425a;
  --fc-button-hover-bg-color: #2C3E50;
  --fc-button-hover-border-color: #2C3E50;
  --fc-button-active-bg-color: #2C3E50;
  --fc-button-active-border-color: #2C3E50;

  --fc-event-text-color: #dcdcdc;

  a {
    color: #dcdcdc;
  }
}

.bright-calendar {
  --fc-page-bg-color: #fff;

  --fc-button-text-color: #212529;
  --fc-button-bg-color: #fefefe;
  --fc-button-border-color: #aaa8a8;
  --fc-button-hover-bg-color: #f8f9fa;
  --fc-button-hover-border-color: #aaa8a8;
  --fc-button-active-bg-color: #dfdede;
  --fc-button-active-border-color: #636161;

  --fc-event-text-color: #fff;

  a {
    color: #2c4862;
  }
}
