.fc {
  --fc-small-font-size: var(--ant-font-size-sm);
  --fc-neutral-bg-color: var(--ant-color-fill-content);
  --fc-border-color: var(--ant-color-bg-text-active);

  --fc-event-bg-color: var(--ant-color-primary);
  --fc-event-border-color: var(--ant-color-bg-text-active);

  --fc-more-link-bg-color: var(--ant-color-fill-content);
  --fc-more-link-text-color: var(--ant-color-text-base);

  --fc-today-bg-color: var(--ant-color-warning-border);
  --fc-page-bg-color: var(--ant-color-bg-base);

  --fc-button-text-color: var(--ant-color-text-base);
  --fc-button-bg-color: var(--ant-color-bg-base);
  --fc-button-hover-bg-color: var(--ant-color-border-bg);
  --fc-button-border-color: var(--ant-color-icon);
  --fc-button-hover-border-color: var(--ant-color-icon-hover);
  --fc-button-active-bg-color: var(--ant-color-text-quaternary);
  --fc-button-active-border-color: var(--ant-color-icon);

  --fc-event-text-color: #fafafa;

  a {
    color: var(--ant-color-text-base);
  }
}

.fc-daygrid-event {
  white-space: normal;
}
