.ant-form-item-label {
  padding-bottom: 0 !important;
}
.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}

.ant-tabs-tab {
  border-width: 0 !important;
}

.ant-input-number-input {
  text-align: right;
}

.ant-input[inputmode="numeric"] {
  text-align: right;
}

.editor-toolbar {
  padding: 0 !important;
}

.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 4px 4px !important;
}

/*transform fullcalendar's primary to light button*/
.fc-toolbar .fc-button-primary {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.fc-toolbar .fc-button-primary:disabled {
  color: rgba(33, 37, 41, 0.56);
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.fc-daygrid a {
  color: #212529;
}

.ant-btn-primary {
  box-shadow: none;
}

.ant-collapse-expand-icon {
  padding-inline-end: 4px !important;
}

.ant-menu-title-content {
  margin-inline-start: 4px !important;
}

.ant-menu-overflow-item {
  padding-inline: 4px !important;
  margin-inline: 4px !important;
}

.ant-page-header-heading-title {
  font-size: 32px !important;
  line-height: 40px !important;
}
.ant-page-header-heading-sub-title {
  font-size: 12px !important;
  line-height: 14px !important;
}

.ant-page-header {
  padding-inline: 0;
}
