.btn-presse {
  color: #fff !important;
}
.border-classix {
  background-color: #fff !important;
  border-color: #4faee3 !important;
  color: inherit !important;
}
.color-classix {
  background-color: #4faee3 !important;
  border-color: #4faee3 !important;
  color: #fff !important;
}
.text-classix {
  color: #4faee3;
}
.tab-classix {
  color: #4faee3;
  border-color: #4faee3 !important;
}
.btn-classix {
  color: #212529;
  background-color: #4faee3;
  border-color: #39a4e0;
}
.btn-classix:hover {
  color: #fff;
  background-color: #2e9fde !important;
  border-color: #208ac6 !important;
}
.btn-classix:focus,
.btn-classix.focus {
  color: #fff;
  background-color: #2e9fde;
  border-color: #208ac6;
  box-shadow: 0 0 0 0.2rem #3591c580;
}
.btn-classix.disabled,
.btn-classix:disabled {
  color: #212529;
  background-color: #4faee3;
  border-color: #39a4e0;
}
.btn-classix:not(:disabled):not(.disabled):active,
.btn-classix:not(:disabled):not(.disabled).active,
.show > .btn-classix.dropdown-toggle {
  color: #fff;
  background-color: #239adc;
  border-color: #1e83bb;
}
.btn-classix:not(:disabled):not(.disabled):active:focus,
.btn-classix:not(:disabled):not(.disabled).active:focus,
.show > .btn-classix.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #3591c580;
}
.border-concert {
  background-color: #fff !important;
  border-color: #6c757d !important;
  color: inherit !important;
}
.color-concert {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: #fff !important;
}
.text-concert {
  color: #6c757d;
}
.tab-concert {
  color: #6c757d;
  border-color: #6c757d !important;
}
.btn-concert {
  color: #fff;
  background-color: #6c757d;
  border-color: #60686f;
}
.btn-concert:hover {
  color: #fff;
  background-color: #5a6268 !important;
  border-color: #494f54 !important;
}
.btn-concert:focus,
.btn-concert.focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #494f54;
  box-shadow: 0 0 0 0.2rem #787f8580;
}
.btn-concert.disabled,
.btn-concert:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #60686f;
}
.btn-concert:not(:disabled):not(.disabled):active,
.btn-concert:not(:disabled):not(.disabled).active,
.show > .btn-concert.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #43484d;
}
.btn-concert:not(:disabled):not(.disabled):active:focus,
.btn-concert:not(:disabled):not(.disabled).active:focus,
.show > .btn-concert.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #787f8580;
}
.border-kooperation {
  background-color: #fff !important;
  border-color: #9185be !important;
  color: inherit !important;
}
.color-kooperation {
  background-color: #9185be !important;
  border-color: #9185be !important;
  color: #fff !important;
}
.text-kooperation {
  color: #9185be;
}
.tab-kooperation {
  color: #9185be;
  border-color: #9185be !important;
}
.btn-kooperation {
  color: #fff;
  background-color: #9185be;
  border-color: #8274b5;
}
.btn-kooperation:hover {
  color: #fff;
  background-color: #7b6cb1 !important;
  border-color: #6656a1 !important;
}
.btn-kooperation:focus,
.btn-kooperation.focus {
  color: #fff;
  background-color: #7b6cb1;
  border-color: #6656a1;
  box-shadow: 0 0 0 0.2rem #9589c080;
}
.btn-kooperation.disabled,
.btn-kooperation:disabled {
  color: #fff;
  background-color: #9185be;
  border-color: #8274b5;
}
.btn-kooperation:not(:disabled):not(.disabled):active,
.btn-kooperation:not(:disabled):not(.disabled).active,
.show > .btn-kooperation.dropdown-toggle {
  color: #fff;
  background-color: #7364ac;
  border-color: #605199;
}
.btn-kooperation:not(:disabled):not(.disabled):active:focus,
.btn-kooperation:not(:disabled):not(.disabled).active:focus,
.show > .btn-kooperation.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #9589c080;
}
.border-ausgaben {
  background-color: #fff !important;
  border-color: #d50f36 !important;
  color: inherit !important;
}
.color-ausgaben {
  background-color: #d50f36 !important;
  border-color: #d50f36 !important;
  color: #fff !important;
}
.text-ausgaben {
  color: #d50f36;
}
.tab-ausgaben {
  color: #d50f36;
  border-color: #d50f36 !important;
}
.btn-ausgaben {
  color: #fff;
  background-color: #d50f36;
  border-color: #bd0d30;
}
.btn-ausgaben:hover {
  color: #fff;
  background-color: #b10c2d !important;
  border-color: #8e0a24 !important;
}
.btn-ausgaben:focus,
.btn-ausgaben.focus {
  color: #fff;
  background-color: #b10c2d;
  border-color: #8e0a24;
  box-shadow: 0 0 0 0.2rem #c7314f80;
}
.btn-ausgaben.disabled,
.btn-ausgaben:disabled {
  color: #fff;
  background-color: #d50f36;
  border-color: #bd0d30;
}
.btn-ausgaben:not(:disabled):not(.disabled):active,
.btn-ausgaben:not(:disabled):not(.disabled).active,
.show > .btn-ausgaben.dropdown-toggle {
  color: #fff;
  background-color: #a50c2a;
  border-color: #820921;
}
.btn-ausgaben:not(:disabled):not(.disabled):active:focus,
.btn-ausgaben:not(:disabled):not(.disabled).active:focus,
.show > .btn-ausgaben.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #c7314f80;
}
.border-kalkulation {
  background-color: #fff !important;
  border-color: #d50f36 !important;
  color: inherit !important;
}
.color-kalkulation {
  background-color: #d50f36 !important;
  border-color: #d50f36 !important;
  color: #fff !important;
}
.text-kalkulation {
  color: #d50f36;
}
.tab-kalkulation {
  color: #d50f36;
  border-color: #d50f36 !important;
}
.btn-kalkulation {
  color: #fff;
  background-color: #d50f36;
  border-color: #bd0d30;
}
.btn-kalkulation:hover {
  color: #fff;
  background-color: #b10c2d !important;
  border-color: #8e0a24 !important;
}
.btn-kalkulation:focus,
.btn-kalkulation.focus {
  color: #fff;
  background-color: #b10c2d;
  border-color: #8e0a24;
  box-shadow: 0 0 0 0.2rem #c7314f80;
}
.btn-kalkulation.disabled,
.btn-kalkulation:disabled {
  color: #fff;
  background-color: #d50f36;
  border-color: #bd0d30;
}
.btn-kalkulation:not(:disabled):not(.disabled):active,
.btn-kalkulation:not(:disabled):not(.disabled).active,
.show > .btn-kalkulation.dropdown-toggle {
  color: #fff;
  background-color: #a50c2a;
  border-color: #820921;
}
.btn-kalkulation:not(:disabled):not(.disabled):active:focus,
.btn-kalkulation:not(:disabled):not(.disabled).active:focus,
.show > .btn-kalkulation.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #c7314f80;
}
.border-festival {
  background-color: #fff !important;
  border-color: #9fc442 !important;
  color: inherit !important;
}
.color-festival {
  background-color: #9fc442 !important;
  border-color: #9fc442 !important;
  color: #fff !important;
}
.text-festival {
  color: #9fc442;
}
.tab-festival {
  color: #9fc442;
  border-color: #9fc442 !important;
}
.btn-festival {
  color: #212529;
  background-color: #9fc442;
  border-color: #91b438;
}
.btn-festival:hover {
  color: #fff;
  background-color: #89ab35 !important;
  border-color: #728d2c !important;
}
.btn-festival:focus,
.btn-festival.focus {
  color: #fff;
  background-color: #89ab35;
  border-color: #728d2c;
  box-shadow: 0 0 0 0.2rem #809f3680;
}
.btn-festival.disabled,
.btn-festival:disabled {
  color: #212529;
  background-color: #9fc442;
  border-color: #91b438;
}
.btn-festival:not(:disabled):not(.disabled):active,
.btn-festival:not(:disabled):not(.disabled).active,
.show > .btn-festival.dropdown-toggle {
  color: #fff;
  background-color: #81a132;
  border-color: #6a8429;
}
.btn-festival:not(:disabled):not(.disabled):active:focus,
.btn-festival:not(:disabled):not(.disabled).active:focus,
.show > .btn-festival.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #809f3680;
}
.border-allgemeines {
  background-color: #fff !important;
  border-color: #05498c !important;
  color: inherit !important;
}
.color-allgemeines {
  background-color: #05498c !important;
  border-color: #05498c !important;
  color: #fff !important;
}
.text-allgemeines {
  color: #05498c;
}
.tab-allgemeines {
  color: #05498c;
  border-color: #05498c !important;
}
.btn-allgemeines {
  color: #fff;
  background-color: #05498c;
  border-color: #043c73;
}
.btn-allgemeines:hover {
  color: #fff;
  background-color: #043667 !important;
  border-color: #022242 !important;
}
.btn-allgemeines:focus,
.btn-allgemeines.focus {
  color: #fff;
  background-color: #043667;
  border-color: #022242;
  box-shadow: 0 0 0 0.2rem #2a598880;
}
.btn-allgemeines.disabled,
.btn-allgemeines:disabled {
  color: #fff;
  background-color: #05498c;
  border-color: #043c73;
}
.btn-allgemeines:not(:disabled):not(.disabled):active,
.btn-allgemeines:not(:disabled):not(.disabled).active,
.show > .btn-allgemeines.dropdown-toggle {
  color: #fff;
  background-color: #032f5b;
  border-color: #021c36;
}
.btn-allgemeines:not(:disabled):not(.disabled):active:focus,
.btn-allgemeines:not(:disabled):not(.disabled).active:focus,
.show > .btn-allgemeines.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #2a598880;
}
.border-hotel {
  background-color: #fff !important;
  border-color: #66267b !important;
  color: inherit !important;
}
.color-hotel {
  background-color: #66267b !important;
  border-color: #66267b !important;
  color: #fff !important;
}
.text-hotel {
  color: #66267b;
}
.tab-hotel {
  color: #66267b;
  border-color: #66267b !important;
}
.btn-hotel {
  color: #fff;
  background-color: #66267b;
  border-color: #562068;
}
.btn-hotel:hover {
  color: #fff;
  background-color: #4e1d5e !important;
  border-color: #361441 !important;
}
.btn-hotel:focus,
.btn-hotel.focus {
  color: #fff;
  background-color: #4e1d5e;
  border-color: #361441;
  box-shadow: 0 0 0 0.2rem #6f417f80;
}
.btn-hotel.disabled,
.btn-hotel:disabled {
  color: #fff;
  background-color: #66267b;
  border-color: #562068;
}
.btn-hotel:not(:disabled):not(.disabled):active,
.btn-hotel:not(:disabled):not(.disabled).active,
.show > .btn-hotel.dropdown-toggle {
  color: #fff;
  background-color: #461a54;
  border-color: #2d1137;
}
.btn-hotel:not(:disabled):not(.disabled):active:focus,
.btn-hotel:not(:disabled):not(.disabled).active:focus,
.show > .btn-hotel.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #6f417f80;
}
.border-kasse {
  background-color: #fff !important;
  border-color: #9185be !important;
  color: inherit !important;
}
.color-kasse {
  background-color: #9185be !important;
  border-color: #9185be !important;
  color: #fff !important;
}
.text-kasse {
  color: #9185be;
}
.tab-kasse {
  color: #9185be;
  border-color: #9185be !important;
}
.btn-kasse {
  color: #fff;
  background-color: #9185be;
  border-color: #8274b5;
}
.btn-kasse:hover {
  color: #fff;
  background-color: #7b6cb1 !important;
  border-color: #6656a1 !important;
}
.btn-kasse:focus,
.btn-kasse.focus {
  color: #fff;
  background-color: #7b6cb1;
  border-color: #6656a1;
  box-shadow: 0 0 0 0.2rem #9589c080;
}
.btn-kasse.disabled,
.btn-kasse:disabled {
  color: #fff;
  background-color: #9185be;
  border-color: #8274b5;
}
.btn-kasse:not(:disabled):not(.disabled):active,
.btn-kasse:not(:disabled):not(.disabled).active,
.show > .btn-kasse.dropdown-toggle {
  color: #fff;
  background-color: #7364ac;
  border-color: #605199;
}
.btn-kasse:not(:disabled):not(.disabled):active:focus,
.btn-kasse:not(:disabled):not(.disabled).active:focus,
.show > .btn-kasse.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #9589c080;
}
.border-technik {
  background-color: #fff !important;
  border-color: #009285 !important;
  color: inherit !important;
}
.color-technik {
  background-color: #009285 !important;
  border-color: #009285 !important;
  color: #fff !important;
}
.text-technik {
  color: #009285;
}
.tab-technik {
  color: #009285;
  border-color: #009285 !important;
}
.btn-technik {
  color: #fff;
  background-color: #009285;
  border-color: #00796e;
}
.btn-technik:hover {
  color: #fff;
  background-color: #006c62 !important;
  border-color: #00463f !important;
}
.btn-technik:focus,
.btn-technik.focus {
  color: #fff;
  background-color: #006c62;
  border-color: #00463f;
  box-shadow: 0 0 0 0.2rem #268d8480;
}
.btn-technik.disabled,
.btn-technik:disabled {
  color: #fff;
  background-color: #009285;
  border-color: #00796e;
}
.btn-technik:not(:disabled):not(.disabled):active,
.btn-technik:not(:disabled):not(.disabled).active,
.show > .btn-technik.dropdown-toggle {
  color: #fff;
  background-color: #005f57;
  border-color: #003934;
}
.btn-technik:not(:disabled):not(.disabled):active:focus,
.btn-technik:not(:disabled):not(.disabled).active:focus,
.show > .btn-technik.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #268d8480;
}
.border-presse {
  background-color: #fff !important;
  border-color: #95c22e !important;
  color: inherit !important;
}
.color-presse {
  background-color: #95c22e !important;
  border-color: #95c22e !important;
  color: #fff !important;
}
.text-presse {
  color: #95c22e;
}
.tab-presse {
  color: #95c22e;
  border-color: #95c22e !important;
}
.btn-presse {
  color: #212529;
  background-color: #95c22e;
  border-color: #85ad29;
}
.btn-presse:hover {
  color: #fff;
  background-color: #7da327 !important;
  border-color: #66841f !important;
}
.btn-presse:focus,
.btn-presse.focus {
  color: #fff;
  background-color: #7da327;
  border-color: #66841f;
  box-shadow: 0 0 0 0.2rem #76992980;
}
.btn-presse.disabled,
.btn-presse:disabled {
  color: #212529;
  background-color: #95c22e;
  border-color: #85ad29;
}
.btn-presse:not(:disabled):not(.disabled):active,
.btn-presse:not(:disabled):not(.disabled).active,
.show > .btn-presse.dropdown-toggle {
  color: #fff;
  background-color: #759924;
  border-color: #5e7a1d;
}
.btn-presse:not(:disabled):not(.disabled):active:focus,
.btn-presse:not(:disabled):not(.disabled).active:focus,
.show > .btn-presse.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #76992980;
}
.border-session {
  background-color: #fff !important;
  border-color: #dea71f !important;
  color: inherit !important;
}
.color-session {
  background-color: #dea71f !important;
  border-color: #dea71f !important;
  color: #fff !important;
}
.text-session {
  color: #dea71f;
}
.tab-session {
  color: #dea71f;
  border-color: #dea71f !important;
}
.btn-session {
  color: #212529;
  background-color: #dea71f;
  border-color: #c8961c;
}
.btn-session:hover {
  color: #fff;
  background-color: #bc8e1a !important;
  border-color: #9b7516 !important;
}
.btn-session:focus,
.btn-session.focus {
  color: #fff;
  background-color: #bc8e1a;
  border-color: #9b7516;
  box-shadow: 0 0 0 0.2rem #af851e80;
}
.btn-session.disabled,
.btn-session:disabled {
  color: #212529;
  background-color: #dea71f;
  border-color: #c8961c;
}
.btn-session:not(:disabled):not(.disabled):active,
.btn-session:not(:disabled):not(.disabled).active,
.show > .btn-session.dropdown-toggle {
  color: #fff;
  background-color: #b18519;
  border-color: #906c14;
}
.btn-session:not(:disabled):not(.disabled):active:focus,
.btn-session:not(:disabled):not(.disabled).active:focus,
.show > .btn-session.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #af851e80;
}
.border-soulcafe {
  background-color: #fff !important;
  border-color: #f07f31 !important;
  color: inherit !important;
}
.color-soulcafe {
  background-color: #f07f31 !important;
  border-color: #f07f31 !important;
  color: #fff !important;
}
.text-soulcafe {
  color: #f07f31;
}
.tab-soulcafe {
  color: #f07f31;
  border-color: #f07f31 !important;
}
.btn-soulcafe {
  color: #212529;
  background-color: #f07f31;
  border-color: #ee7019;
}
.btn-soulcafe:hover {
  color: #fff;
  background-color: #ea6a11 !important;
  border-color: #c6590e !important;
}
.btn-soulcafe:focus,
.btn-soulcafe.focus {
  color: #fff;
  background-color: #ea6a11;
  border-color: #c6590e;
  box-shadow: 0 0 0 0.2rem #cf651b80;
}
.btn-soulcafe.disabled,
.btn-soulcafe:disabled {
  color: #212529;
  background-color: #f07f31;
  border-color: #ee7019;
}
.btn-soulcafe:not(:disabled):not(.disabled):active,
.btn-soulcafe:not(:disabled):not(.disabled).active,
.show > .btn-soulcafe.dropdown-toggle {
  color: #fff;
  background-color: #de6410;
  border-color: #ba540e;
}
.btn-soulcafe:not(:disabled):not(.disabled):active:focus,
.btn-soulcafe:not(:disabled):not(.disabled).active:focus,
.show > .btn-soulcafe.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #cf651b80;
}
.border-staff {
  background-color: #fff !important;
  border-color: #dea71f !important;
  color: inherit !important;
}
.color-staff {
  background-color: #dea71f !important;
  border-color: #dea71f !important;
  color: #fff !important;
}
.text-staff {
  color: #dea71f;
}
.tab-staff {
  color: #dea71f;
  border-color: #dea71f !important;
}
.btn-staff {
  color: #212529;
  background-color: #dea71f;
  border-color: #c8961c;
}
.btn-staff:hover {
  color: #fff;
  background-color: #bc8e1a !important;
  border-color: #9b7516 !important;
}
.btn-staff:focus,
.btn-staff.focus {
  color: #fff;
  background-color: #bc8e1a;
  border-color: #9b7516;
  box-shadow: 0 0 0 0.2rem #af851e80;
}
.btn-staff.disabled,
.btn-staff:disabled {
  color: #212529;
  background-color: #dea71f;
  border-color: #c8961c;
}
.btn-staff:not(:disabled):not(.disabled):active,
.btn-staff:not(:disabled):not(.disabled).active,
.show > .btn-staff.dropdown-toggle {
  color: #fff;
  background-color: #b18519;
  border-color: #906c14;
}
.btn-staff:not(:disabled):not(.disabled):active:focus,
.btn-staff:not(:disabled):not(.disabled).active:focus,
.show > .btn-staff.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #af851e80;
}
.border-copy {
  background-color: #fff !important;
  border-color: #6c757d !important;
  color: inherit !important;
}
.color-copy {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: #fff !important;
}
.text-copy {
  color: #6c757d;
}
.tab-copy {
  color: #6c757d;
  border-color: #6c757d !important;
}
.btn-copy {
  color: #fff;
  background-color: #6c757d;
  border-color: #60686f;
}
.btn-copy:hover {
  color: #fff;
  background-color: #5a6268 !important;
  border-color: #494f54 !important;
}
.btn-copy:focus,
.btn-copy.focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #494f54;
  box-shadow: 0 0 0 0.2rem #787f8580;
}
.btn-copy.disabled,
.btn-copy:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #60686f;
}
.btn-copy:not(:disabled):not(.disabled):active,
.btn-copy:not(:disabled):not(.disabled).active,
.show > .btn-copy.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #43484d;
}
.btn-copy:not(:disabled):not(.disabled):active:focus,
.btn-copy:not(:disabled):not(.disabled).active:focus,
.show > .btn-copy.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #787f8580;
}
.border-livestream {
  background-color: #fff !important;
  border-color: #ff29ac !important;
  color: inherit !important;
}
.color-livestream {
  background-color: #ff29ac !important;
  border-color: #ff29ac !important;
  color: #fff !important;
}
.text-livestream {
  color: #ff29ac;
}
.tab-livestream {
  color: #ff29ac;
  border-color: #ff29ac !important;
}
.btn-livestream {
  color: #fff;
  background-color: #ff29ac;
  border-color: #ff10a2;
}
.btn-livestream:hover {
  color: #fff;
  background-color: #ff039d !important;
  border-color: #dc0086 !important;
}
.btn-livestream:focus,
.btn-livestream.focus {
  color: #fff;
  background-color: #ff039d;
  border-color: #dc0086;
  box-shadow: 0 0 0 0.2rem #ff34b080;
}
.btn-livestream.disabled,
.btn-livestream:disabled {
  color: #fff;
  background-color: #ff29ac;
  border-color: #ff10a2;
}
.btn-livestream:not(:disabled):not(.disabled):active,
.btn-livestream:not(:disabled):not(.disabled).active,
.show > .btn-livestream.dropdown-toggle {
  color: #fff;
  background-color: #f50096;
  border-color: #cf007f;
}
.btn-livestream:not(:disabled):not(.disabled):active:focus,
.btn-livestream:not(:disabled):not(.disabled).active:focus,
.show > .btn-livestream.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ff34b080;
}
.logo-festival {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/vue/img/Festival_Icon.png);
  height: 20px;
  width: 24px;
  margin: 3px;
}
.color-reservix {
  background-color: #f8500d !important;
  border-color: #f8500d !important;
  color: #fff !important;
}
.logo-reservix {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/vue/img/rex_14x14.png);
  height: 14px;
  width: 14px;
}
.color-geplant {
  color: #f3c1c1 !important;
}
