extends ../../../views/layout
include ../../../views/formComponents

block title
  | Programmheft

block content
  .col-12
    .page-header
      h1 Programmheftüberblick
    ul
      each date in dates
        li: a(href=date) Heft #{date}
