extends ../../../views/layout

include ../../../views/formComponents

block content
  .col-12
    form#mailform(action="/mailsender/send", method="post")
      +csrf
      fieldset
        .row
          .col-12
            .page-header
              +submitButtons('Mail senden')
            legend
              | Pressemail senden
            if (upcomingEvents)
              .row
                .col-md-6
                  h4 Für Veranstaltungen
                  each event in upcomingEvents
                    +checkbox('event[' + event.id() + ']', event.description())
                .col-md-6
                  h4 An Empfänger
                  each number in optionen.noOfEmails()
                    if optionen['partner' + number]
                      +checkbox('partner[email' + number + ']', optionen['partner' + number])
            +text('subject', 'Subject', '[Jazzclub] Veranstaltungen für ')
            +hightextarea('markdown', 'Anschreiben')
            +submitButtons('Mail senden')
block scripts
  script(src="/clientscripts/bootstrap-markdown.min.js")
