extends ../../../views/layout
include ../../../views/formComponents
include mixins

mixin button(veranstaltung, name, nameInMethod)
  -var staff = veranstaltung.staff()
  if !staff[name]().includes(user.id) && !staff[name]().includes(user.id.toLowerCase())
    a.btn.btn-success.btn-sm(href='/teamseite/add' + nameInMethod + '/' + veranstaltung.id()) Ich kann
  else
    a.btn.btn-danger.btn-sm(href='/teamseite/remove' + nameInMethod + '/' + veranstaltung.id()) Ich kann nicht

mixin people(veranstaltung, name)
  -var staff = veranstaltung.staff()
  span.text-capitalize #{staff[name]().join(', ')}

mixin panelView(veranstaltungen)
  -var count = 0
  -var nearFuture = moment(); nearFuture.add(1, 'months')
  -var monatAlt = -1;
  | <div class='row'>
  for veranstaltung in veranstaltungen
    if monatAlt === -1 || monatAlt !== veranstaltung.startMoment().month()
      | </div><div class='row'>
      .col-12
        hr
        h4 #{veranstaltung.startMoment().format('MMMM \'YY')}
          small.float-right
            a(href='/veranstaltungen/texte/' + veranstaltung.startMoment().format('YYMM')) Als Texte
            | &nbsp; &nbsp;
            a(href='/veranstaltungen/monat/' + veranstaltung.startMoment().format('YYMM')) Als Liste

    -monatAlt = veranstaltung.startMoment().month();
    -var kopf = veranstaltung.kopf()
    -var staff = veranstaltung.staff()
    -var infotext = staff.noStaffNeeded() && staff.modNotNeeded() ? '<div class="alert-success text-center"><i class="fas fa-check-circle"></i> Niemand benötigt</div>' : (veranstaltung.personalFehlt() ? '<div class="alert-danger text-center"><i class="fas fa-exclamation-circle"></i> Kasse gesucht!</div>' : '')
    -var editlink = veranstaltung.fullyQualifiedUrl() + '/preview';
    -var ueberschrift = veranstaltung.datumForDisplayShort() + ' ' + kopf.presseIn() + ':<br>' + kopf.titel() + infotext  
    .col-xl-3.col-lg-4.col-sm-6
      +panelMitBody('panel' + ++count, ueberschrift, null, kopf.cssColorCode(), null, editlink, veranstaltung.startMoment().isAfter(nearFuture))
        if staff.noStaffNeeded() && staff.modNotNeeded()
          table.table.table-striped.table-sm
            tr: th Kooperation - Niemand benötigt
        else
          table.table.table-striped.table-sm
            if (!staff['kasseVNotNeeded']() || !staff['kasseNotNeeded']())
              tr: td(colspan=3): h5.mb-0 Kasse
              if !staff['kasseVNotNeeded']()
                tr 
                  th Eins:
                  td: +people(veranstaltung, 'kasseV')
                  td: +button(veranstaltung, 'kasseV', 'KasseV')
              if !staff['kasseNotNeeded']()
                tr
                  th Zwei:
                  td: +people(veranstaltung, 'kasse')
                  td: +button(veranstaltung, 'kasse', 'Kasse')
            if (!staff['technikerVNotNeeded']() || !staff['technikerNotNeeded']())
              tr: td(colspan=3): h5.mb-0 Technik
              if !staff['technikerVNotNeeded']()
                tr
                  th Eins:
                  td: +people(veranstaltung, 'technikerV')
                  td: +button(veranstaltung, 'technikerV', 'TechnikerV')
              if !staff['technikerNotNeeded']()
                tr
                  th Zwei:
                  td: +people(veranstaltung, 'techniker')
                  td: +button(veranstaltung, 'techniker', 'Techniker')
            if !staff['modNotNeeded']()
              tr: td(colspan=3): h5.mb-0 Master
              tr
                th &nbsp;
                td: +people(veranstaltung, 'mod')
                td: +button(veranstaltung, 'mod', 'MoD')
  | </div>   
  
  
block title
  | Teamseite

block content
  .col-12
    .row
      .col-lg-8
        .page-header
          .btn-group.float-right
            if accessrights.isOrgaTeam()
              a.btn.btn-light(href='/teamseite/admin', title='administration')
                i.fas.fa-edit.fa-fw
                | &nbsp;Admin
          h2 Team
          p <b>Kasse 1</b> und <b>Techniker 1</b> sind am Abend jeweils die <b>Verantwortlichen</b>. Bitte denke daran, rechtzeitig vor der Veranstaltung da zu sein!
          p 
            a.btn.btn-light(href=webcalURL, title='als iCal'): i.far.fa-calendar-alt
            | #{' '} Hiermit kannst Du den Kalender abonnieren.
        +zuAufButtons
        +panelView(veranstaltungen)
      .col-lg-4
        #calendar.mt-4

    .row
      .col-12
        hr
        .page-header
          h2 Übersicht der Benutzer
    .row
      +userpanel(accessrights.member(), ++count)
      -var count = 0;
      for user in users
        if accessrights.memberId() !== user.id
          +userpanel(user, ++count)
              
block head
  link(rel='stylesheet', href='/stylesheets/fullcalendar.css')

block scripts
  script(src='/clientscripts/fullcalendar.min.js')
  +zuAufButtonsScript
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
