extends ../../../views/layout
include ../../../views/formComponents
include mixins
  
mixin editableMultiselectSmall(id, name, value, tags)
  .form-group
    select.form-control.form-control-sm.enhance(multiple, id=name, name=name, data-tags=true)
      each tag in tags
        option(selected = value.indexOf(tag) > -1) #{tag}

mixin people(veranstaltung, name, allUsers)
  -var id = 'staff[' + name + 'NotNeeded]'
  +editableMultiselectSmall('staff[' + name + ']' + veranstaltung.id(), 'staff[' + name + ']', veranstaltung.staff()[name](), allUsers.map(user => user.id))
      
mixin button(veranstaltung, name, allUsers)
  -var id = 'staff[' + name + 'NotNeeded]'
  +checkbox(id, 'Benötigt', !veranstaltung.staff()[name + 'NotNeeded'](), veranstaltung.id())
      
mixin panelView(veranstaltungen)
  -var count = 0
  -var nearFuture = moment(); nearFuture.add(1, 'months')
  .row
    for veranstaltung in veranstaltungen
      -var kopf = veranstaltung.kopf()
      -var staff = veranstaltung.staff()
      -var editlink = (user && accessrights.isOrgaTeam()) ? veranstaltung.fullyQualifiedUrl() + '/ausgaben' : null
      form#veranstaltungform(action='/teamseite/submit', method='post').col-xl-3.col-lg-4.col-sm-6
        +hidden('id', veranstaltung.id())
        +csrf
        +panelMitBody('panel' + ++count, veranstaltung.datumForDisplayShort() + ' ' + kopf.presseIn() + ' :<br>' + kopf.titel(), null, kopf.cssColorCode(), null, editlink, veranstaltung.startMoment().isAfter(nearFuture))
          table.table.table-striped.table-sm
            tr: td(colspan=3): h5.mb-0 Kasse
            tr
              th: .form-control-plaintext Eins:
              td: +people(veranstaltung, 'kasseV', users)
              td: +button(veranstaltung, 'kasseV', users)
            tr
              th: .form-control-plaintext Zwei:
              td: +people(veranstaltung, 'kasse', users)
              td: +button(veranstaltung, 'kasse', users)
            tr: td(colspan=3): h5.mb-0 Technik
            tr
              th: .form-control-plaintext Eins:
              td: +people(veranstaltung, 'technikerV', users)
              td: +button(veranstaltung, 'technikerV', users)
            tr
              th: .form-control-plaintext Zwei:
              td: +people(veranstaltung, 'techniker', users)
              td: +button(veranstaltung, 'techniker', users)
            tr
              th: .form-control-plaintext: h5.mb-0 Master
              td: +people(veranstaltung, 'mod', users)
              td: +button(veranstaltung, 'mod', users)
            tr: td(colspan=3)
              button.btn.btn-sm.btn-success.float-right(type='submit'): i(class='fas fa-fw fa-save fa-lg')

block title
  | Teamadmin

block content
  -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
  .col-12
    .page-header
      h2 Team (Admin)
    +panelView(veranstaltungen)
    .row
      .col-12
        hr
        .page-header
          h2 Übersicht der Benutzer
    .row
      -var count = 0;
      for user in users
        +userpanel(user, ++count, true)
            
block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
