@import "functions";
@import "original-variables.scss";

// we are overriding the following values from the original bootstrap variables.scss
$brand-warning: #EBB847;

$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;

$font-size-base: 12px;

$headings-font-weight: bold;

$grid-gutter-width: 16px;
