@import "jc-variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "../../../node_modules/select2-theme-bootstrap4/src/select2-bootstrap.scss";
@import "bootstrap-markdown-patched";
@import "../../../node_modules/bootstrap-select/sass/variables.scss";
@import "../../../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// colors
$color-ausgaben1: #d50f36;
$color-ausgaben1-border: darken($color-ausgaben1, 5%);

$color-kasse1: #9185be;
$color-kasse1-border: darken($color-kasse1, 5%);

$color-allgemein1: #05498c;
$color-allgemein1-border: darken($color-allgemein1, 5%);

$color-hotel1: #66267b;
$color-hotel1-border: darken($color-hotel1, 5%);

$color-sonst1: #009285;
$color-sonst1-border: darken($color-sonst1, 5%);

$color-ausgaben2: #f07f31;
$color-ausgaben2-border: darken($color-ausgaben2, 5%);

$color-kasse2: #dea71f;
$color-kasse2-border: darken($color-kasse2, 5%);

$color-allgemein2: #4faee3;
$color-allgemein2-border: darken($color-allgemein2, 5%);

$color-hotel2: #e50069;
$color-hotel2-border: darken($color-hotel2, 5%);

$color-sonst2: #95c22e;
$color-sonst2-border: darken($color-sonst2, 5%);

$color-festival: #9FC442;

@mixin color-variant($color) {
  background-color: $color !important;
  border-color: $color !important;
  color: #ffffff !important;
}

@mixin border-variant($color) {
  background-color: #ffffff !important;
  border-color: $color !important;
  color: inherit !important;
}

.border-classix {
  @include border-variant($color-allgemein2);
}

.color-classix {
  @include color-variant($color-allgemein2);
}

.text-classix {
  color: $color-allgemein2;
}

.border-concert {
  @include border-variant(darkgrey);
}

.color-concert {
  @include color-variant(darkgrey);
}

.text-concert {
  color: darkgray;
}

.border-session {
  @include border-variant($color-kasse2);
}

.color-session {
  @include color-variant($color-kasse2);
}

.text-session {
  color: $color-kasse2;
}

.border-soulcafe {
  @include border-variant($color-ausgaben2);
}

.color-soulcafe {
  @include color-variant($color-ausgaben2);
}

.text-soulcafe {
  color: $color-ausgaben2;
}

.border-festival {
  @include border-variant($color-festival);
}

.color-festival {
  @include color-variant($color-festival);
}

.text-festival {
  color: $color-festival;
}

.logo-festival {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/img/Festival_Icon.png");
  height: 20px;
  width: 24px;
  margin: 3px;
}

.color-costs {
  @include color-variant($color-ausgaben1);
}

.color-general {
  @include color-variant($color-allgemein1);
}

.text-general {
  color: $color-allgemein1;
}

.color-hotel {
  @include color-variant($color-hotel1);
}

.color-kasse {
  @include color-variant($color-kasse1);
}

.color-misc {
  @include color-variant($color-sonst1);
}

.color-presse {
  @include color-variant($color-kasse2);
}

.color-staff {
  @include color-variant($color-kasse2);
}

.btn-costs {
  @include button-variant($color-ausgaben1, $color-ausgaben1-border);
}

.btn-kasse {
  @include button-variant($color-kasse1, $color-kasse1-border);
}

.btn-general {
  @include button-variant($color-allgemein1, $color-allgemein1-border);
}

.btn-hotel {
  @include button-variant($color-hotel1, $color-hotel1-border);
}

.btn-misc {
  @include button-variant($color-sonst1, $color-sonst1-border);
}

.btn-copy {
  @include button-variant($color-sonst2, $color-sonst2-border);
}

.btn-presse {
  @include button-variant($color-kasse2, $color-kasse2-border);
  color: $yiq-text-light;
}

// adapt syntaxhighlighted code in textboxes to bootstrap *BEGIN*
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  font-family: $font-family-monospace !important;
}

.gutter {
  @include clearfix();
}

pre code {
  white-space: nowrap;
}

// adapt syntaxhighlight *END*

.bottom {
  padding-top: 20px;
  margin-bottom: 0px;
}

.navbar-brand.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 60px;
}

.navbar-right {
  margin-right: 0 !important;
}

.page-header {
  margin-top: 30px !important;
}

.page-header > h2 {
  margin-top: 0px;
}

.verySmall {
  font-size: .8em;
  line-height: 1.1em;
}

.color-geplant {
  color: red !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.ellipsis.narrow {
  max-width: 120px;
}

.main {
  margin-right: auto;
  margin-left: auto;
}

@media print {
  .btn {
    display: none !important;
  }

  a,
  a:visited {
    text-decoration: none !important;
  }

  a[href]:after {
    content: "" !important;
  }
}

@media (min-width: 768px) {
  .popover {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .fixed-top {
    position: relative !important;
  }
}

.popover-highlight {
  border-bottom: 1px dotted;
}

a.group {
  color: #ffffff;
}

a.inherit-color {
  color: inherit !important;
}

label {
  font-weight: $font-weight-bold;
}

.label.group {
  padding: .3em .4em .2em .4em;
  position: absolute;
  font-size: 0.8em;
}

ul.nav-tabs {
  margin-bottom: 20px;
}

ul.align-with-table-header {
  padding-left: 1.5em;
}

.dashboard-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  word-wrap: break-word;
}

.fc-day-grid-event .fc-content { /* force events to be one-line tall */
  white-space: inherit !important;
  overflow: inherit !important;
}

// wiki page compare *BEGIN*
.compare {
  font-family: Consolas, monospace;
  font-size: 12px;
}

.compare td {
  padding: 0 3px;
  border-top-width: 0
}

.compare .gd {
  background-color: #ffdddd;
}

.compare .gc {
  color: #999999;
  background-color: #EAF2F5;
}

.compare .gi {
  background-color: #ddffdd;
}

.compare .ln {
  color: #999999;
  background-color: #EAF2F5;
  text-align: right;
  border-bottom-color: transparent;
}

// wiki page compare *END*

.blau {
  color: #118BE8;
}

h1 > small {
  display: inline-block;
  color: $text-muted;
}

h2 > small {
  display: inline-block;
  color: $text-muted;
}

h3 > small {
  display: inline-block;
  color: $text-muted;
}

h4 > small {
  display: inline-block;
  color: $text-muted;
}

h5 > small {
  display: inline-block;
  color: $text-muted;
}

h6 > small {
  display: inline-block;
  color: $text-muted;
}

// transform fullcalendar's primary to light button
.fc-right .btn-primary {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.table {
  margin-bottom: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.abc-checkbox label {
  padding-top: 2px;
}

// patch bootstrap select
.bootstrap-select {
  & .dropdown-menu {
    z-index: $zindex-select-dropdown;
  }
}
