@import "../../node_modules/rfs/scss";
@import "jc-variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "../../node_modules/select2-theme-bootstrap4/src/select2-bootstrap.scss";
@import "bootstrap-markdown-patched";
@import "../../node_modules/bootstrap-select/sass/variables.scss";
@import "../../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// colors
$color-ausgaben1: #d50f36;

$color-kasse1: #9185be;

$color-allgemein1: #05498c;

$color-hotel1: #66267b;

$color-sonst1: #009285;

$color-ausgaben2: #f07f31;

$color-kasse2: #dea71f;

$color-allgemein2: #4faee3;

$color-hotel2: #e50069;

$color-sonst2: #95c22e;

$color-festival: #9FC442;

$jc_colors: (
        "classix": $color-allgemein2,
        "concert": $gray-600,
        "kooperation": $color-kasse1,
        "ausgaben": $color-ausgaben1,
        "festival": $color-festival,
        "allgemeines": $color-allgemein1,
        "hotel": $color-hotel1,
        "kasse": $color-kasse1,
        "technik": $color-sonst1,
        "presse": $color-sonst2,
        "session": $color-kasse2,
        "soulcafe": $color-ausgaben2,
        "staff": $color-kasse2,
        "copy": theme-color("secondary")
);

.btn-presse {
  color: $yiq-text-light !important;
}

@mixin color-variant($color) {
  background-color: $color !important;
  border-color: $color !important;
  color: #ffffff !important;
}

@mixin border-variant($color) {
  background-color: #ffffff !important;
  border-color: $color !important;
  color: inherit !important;
}

@each $color, $value in $jc_colors {
  .border-#{$color} {
    @include border-variant($value);
  }
  .color-#{$color} {
    @include color-variant($value);
  }
  .text-#{$color} {
    color: $value;
  }
  .tab-#{$color} {
    color: $value;
    border-color: $value !important;
    border: 1px solid;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .btn-#{$color} {
    @include button-variant($value, darken($value, 5%));
  }

}

.logo-festival {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/img/Festival_Icon.png");
  height: 20px;
  width: 24px;
  margin: 3px;
}

.color-reservix {
  @include color-variant(#F8500D);
}

.logo-reservix {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/img/rex_14x14.png");
  height: 14px;
  width: 14px;
}

.color-geplant {
  color: red !important;
}

.main {
  margin-right: auto;
  margin-left: auto;
}

@media print {
  .btn {
    display: none !important;
  }

  a,
  a:visited {
    text-decoration: none !important;
  }

  a[href]:after {
    content: "" !important;
  }
}

@media (min-width: 768px) {
  .popover {
    max-width: 450px;
  }
  .page-header {
    margin-top: 30px !important;
  }
}

@media (max-width: 767px) {
  .fixed-top {
    position: relative !important;
  }
}

a.inherit-color {
  color: inherit !important;
}

label {
  font-weight: $font-weight-bold;
}

.fc-day-grid-event .fc-content { /* force events to be one-line tall */
  white-space: inherit !important;
}

// wiki page compare *BEGIN*
.compare {
  font-family: Consolas, monospace;
  font-size: 12px;
}

.compare td {
  padding: 0 3px;
  border-top-width: 0
}

.compare .gd {
  background-color: #ffdddd;
}

.compare .gc {
  color: #999999;
  background-color: #EAF2F5;
}

.compare .gi {
  background-color: #ddffdd;
}

.compare .ln {
  color: #999999;
  background-color: #EAF2F5;
  text-align: right;
  border-bottom-color: transparent;
}

// wiki page compare *END*

.blau {
  color: #118BE8;
}

h1 > small {
  display: inline-block;
  color: $text-muted;
}

h2 > small {
  display: inline-block;
  color: $text-muted;
}

h3 > small {
  display: inline-block;
  color: $text-muted;
}

h4 > small {
  display: inline-block;
  color: $text-muted;
}

h5 > small {
  display: inline-block;
  color: $text-muted;
}

h6 > small {
  display: inline-block;
  color: $text-muted;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.abc-checkbox label {
  padding-top: 2px;
}

// patch bootstrap select
.bootstrap-select {
  & .dropdown-menu {
    z-index: $zindex-select-dropdown;
  }
}

// patch bootstrap btn
.btn {
  white-space: nowrap;
}
