extends ../../../views/layout

block title
  | Anmeldung erforderlich

block content
  #login.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
  .row
    .col-md-12
      h2 Willkommen!
      p Um auf diese Seite zuzugreifen, musst Du Dich anmelden.
      h5 Schon wieder hier? - Nach einem Anmeldeversuch?
      p Hast Du eben erfolglos versucht, Dich anzumelden? - Überprüfe nochmals deine eingegebenen Daten, speziell auf Groß-/Kleinschreibung.
      p: a.btn.btn-primary(data-toggle='modal', data-target='#login', href='/loginDialog')
        i.fa.fa-sign-in.fa-fw.fa-lg
        | &nbsp;Login
