extends ../../../views/layout

block title
  | Anmeldung erforderlich

block content
  #login.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
  .row
    .col-md-12
      h4 Willkommen!
      p Um auf diese Seite zuzugreifen, musst Du Dich anmelden.
      p: a.btn.btn-primary(data-toggle='modal', data-target='#login', href='/loginDialog')
        i.fa.fa-sign-in.fa-fw
        | &nbsp;Login
