extends ../../../views/layout
include ../../../views/formComponents

block title
  | Anmeldung erforderlich

block content
  #login.modal.fade(tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Anmelden<br>
            small Hier die Dir bekannten Daten eingeben
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        .modal-body
          form(action="/login", method="post")
            +csrf
            .row
              .col-sm-6
                +text('username', 'Benutzername', '', null, 'Groß-/Kleinschreibung Beachten!')
              .col-sm-6
                .form-group
                  +controlLabel('password', 'Passwort')
                  input#password.form-control.trim-text(type="password", name="password", value="")
            .row
              .col-12
                .btn-group.float-right
                  button.btn.btn-primary(type="submit") Anmelden

  .col-12
    .page-header
      h2 Willkommen!
    p Um auf diese Seite zuzugreifen, musst Du Dich anmelden.
    h5 Schon wieder hier? - Nach einem Anmeldeversuch?
    p Hast Du eben erfolglos versucht, Dich anzumelden? - Überprüfe nochmals deine eingegebenen Daten, speziell auf Groß-/Kleinschreibung.
    p: button.btn.btn-primary(data-toggle="modal", data-target="#login")
      i.fas.fa-sign-in-alt.fa-fw.fa-lg
      | &nbsp;Login
