extends ../../../views/layout

block title
  | JC - Backoffice
  
block content
  .col-12
    .page-header
      h2 JC-Backoffice <br>
        small Das Backoffice für das Team
    h4 Willkommen!
    p Um auf diese Seite zuzugreifen, musst Du Dich anmelden.

