include ../../../views/formComponents

doctype html
html
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Anmelden<br>
      small Hier die Dir bekannten Daten eingeben
  .modal-body
    form(action='/login', method='post')
      +csrf
      .row
        .col-sm-6
          +text('username', 'Benutzername', '', null, 'Groß-/Kleinschreibung Beachten!')
        .col-sm-6
          .form-group
            +controlLabel('password', 'Passwort')
            input#password.form-control.trim-text(type='password', name='password', value='')
      .row
        .col-md-12
          .btn-group.pull-right
            button.btn.btn-primary(type='submit') Anmelden
