{
  "extends": ["eslint:recommended"],
  "env": {
    "node": false,
    "browser": true,
    "jquery": true,
    "es6": false
  },
  "rules": {
    "no-var": "off",
    "camelcase": 0,
    "strict": [2, "function"]
  }
}
