extends ../../../views/layout
include ../../../views/formComponents
include werbung
include staff
include band

block title
  | Veranstaltung

block content
  -var kosten = veranstaltung.kosten()

  form#ausgabenform(action='/veranstaltungen/submit', method='post')
    +csrf
    +hidden('id', veranstaltung.id())
    fieldset
      .row
        .col-md-12
          +submitButtonsFor(veranstaltung, 'ausgaben')
          .page-header
            h2 Kosten für #{veranstaltung.datumForDisplayMitKW()}<br>
              small #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#backline') Backline
            +currencySpan('backlinePreis', 'pull-right')
          #backline.collapse.in
            .row
              .col-sm-9
                +text('kosten[rider]', 'Rider', kosten.rider())
            .row
              .col-sm-9
                +editableMultiselect('kosten[backlineJazzclub]', 'Jazzclub', kosten.backlineJazzclub(), optionen.backlineJazzclub())
            .row
              .col-sm-9
                +editableMultiselect('kosten[backlineRockshop]', 'Rockshop', kosten.backlineRockshop(), optionen.backlineRockshop())
              .col-sm-3
                +currency('kosten[backlineEUR]', 'Betrag', kosten.backlineEUR())
          legend
            a(data-toggle='collapse', href='#saalmiete') Saalmiete
            +currencySpan('saalmietePreis', 'pull-right')
          #saalmiete.collapse.in
            .row
              .col-sm-9
                +singleselect('kosten[saal]', 'Location', kosten.saal(), optionen.kooperationen())
              .col-sm-3
                +currency('kosten[saalmiete]', 'Betrag', kosten.saalmiete())
          legend
            a(data-toggle='collapse', href='#technik') Technik
            +currencySpan('technikTotal', 'pull-right')
          #technik.collapse.in
            .row
              .col-sm-9
                +text('kosten[technikJazzclub]', 'Jazzclub', kosten.technikJazzclub())
            .row
              .col-sm-9
                +text('kosten[technikAngebot1]', 'Angebot 1', kosten.technikAngebot1())
              .col-sm-3
                +currency('kosten[technikAngebot1EUR]', 'Betrag', kosten.technikAngebot1EUR())
            .row
              .col-sm-9
                +text('kosten[technikAngebot2]', 'Angebot 2', kosten.technikAngebot2())
              .col-sm-3
                +currency('kosten[technikAngebot2EUR]', 'Betrag', kosten.technikAngebot2EUR())
        .col-md-6
          +staff(veranstaltung.staff())
          +marketingUndPlakate(veranstaltung.werbung(), optionen)
      .row
        .col-md-12
          hr
          +submitButtonsFor(veranstaltung, 'ausgaben')

block scripts
  script.
    $(document).ready(function initAusgabenScript() {
      var backlineEUR = $('#kosten\\[backlineEUR\\]');
      function updateBacklinePreis() {
        setEuro($('#backlinePreis'), eurAmount(backlineEUR));
      }
      backlineEUR.keyup(updateBacklinePreis);
      updateBacklinePreis();
      
      var saalmiete = $('#kosten\\[saalmiete\\]');
      function updateSaalmietePreis() {
        setEuro($('#saalmietePreis'), eurAmount(saalmiete));
      }
      saalmiete.keyup(updateSaalmietePreis);
      updateSaalmietePreis();

      var technikAngebot1EUR = $('#kosten\\[technikAngebot1EUR\\]');
      var technikAngebot2EUR = $('#kosten\\[technikAngebot2EUR\\]');
      function updateTechnikPreis() {
        setEuro($('#technikTotal'), eurAmount(technikAngebot1EUR) + eurAmount(technikAngebot2EUR));
      }
      technikAngebot1EUR.keyup(updateTechnikPreis);
      technikAngebot2EUR.keyup(updateTechnikPreis);
      updateTechnikPreis();
    });

  +marketingUndPlakateScripts
  +staffScript
  script(src='/clientscripts/check-ausgabenform.js')
