extends ../../../views/layout
include ../../../views/formComponents
include eintrittspreise
include kontakt
include band
  
block title
  | Veranstaltung

block content
  -var artist = veranstaltung.artist()
  -var kopf = veranstaltung.kopf()
  -var vertrag = veranstaltung.vertrag()
  -var kosten = veranstaltung.kosten()
  
  form#veranstaltungform(action='/veranstaltungen/submit', method='post')
    +csrf
    if (veranstaltung.id())
      +hidden('id', veranstaltung.id())
    +hidden('previousUrl', veranstaltung.url())
    fieldset
      .row
        .col-md-12
          +submitButtonsFor(veranstaltung, 'kopf')
          .page-header
            h2 Veranstaltung <br>
              if (veranstaltung.id())
                small Bearbeiten
              else
                small Neu anlegen
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#event') Event
          #event.collapse.in
            .row
              .col-sm-6
                +text('kopf[titel]', 'Titel', kopf.titel(), 'Titel f端r die Veranstaltung')
              .col-sm-6
                .form-group
                  +controlLabel('url', 'URL / VA-ID', 'Eindeutig f端r die Veranstaltung')
                  input.form-control#url(type='text', name='url', value=veranstaltung.url())
            .row
              .col-xs-6()
                .col-xs-6(style='padding-left:0px;padding-right:3px')
                  +date('startDate', 'Start', veranstaltung.startMoment().format('L'), 'Startzeitpunkt', veranstaltung.minimalStartForEdit().format('L'))
                .col-xs-6(style='padding-left:3px;padding-right:0px')
                  +time('startTime', veranstaltung.startMoment().format('LT'))
              .col-xs-6()
                .col-xs-6(style='padding-left:0px;padding-right:3px')
                  +date('endDate', 'Ende', veranstaltung.endMoment().format('L'), 'Erwartetes Ende', veranstaltung.minimalStartForEdit().format('L'))
                #dates.col-xs-6(style='padding-left:3px;padding-right:0px')
                  +time('endTime', veranstaltung.endMoment().format('LT'))

          +band(kosten)
          +kontakt(veranstaltung, optionen.agenturen(), 'Agentur', 'agentur')
          legend
            a(data-toggle='collapse', href='#vertrag') Vertrag
          #vertrag.collapse.in
            .row
              .col-md-6
                +singleselect('vertrag[art]', 'Art', vertrag.art(), Vertrag.arten())
              .col-md-6
                +singleselect('vertrag[sprache]', 'Sprache', vertrag.sprache(), ['Deutsch', 'Englisch'])

        .col-md-6
          legend
            a(data-toggle='collapse', href='#artist') K端nstler
          #artist.collapse.in
            .row
              .col-md-12
                +text('artist[name]', 'Name', artist.name(), 'Muss nicht identisch mit der Veranstaltung sein')
            .row
              .col-xs-3
                +number('artist[numMusiker]', 'Musiker', artist.numMusiker(), null, '1', '30')
              .col-xs-3
                +number('artist[numCrew]', 'Crew', artist.numCrew(), null, '0', '30')
              .col-xs-3
                +checkbox('artist[isBawue]', 'aus Baden-W端rttemberg', artist.isBawue())
              .col-xs-3
                +checkbox('artist[isAusland]', 'aus dem Ausland', artist.isAusland())
          +preise(veranstaltung)
          legend
            a(data-toggle='collapse', href='#wannwo') Wo
          #wannwo.collapse.in
            .row
              .col-sm-6
                +singleselect('kopf[ort]', 'Ort', kopf.ort(), optionen.orte())
              .col-sm-6
                +singleselect('kopf[eventTyp]', 'Typ', kopf.eventType(), optionen.typen())
            .row
              .col-sm-6
                +singleselect('kopf[kooperation]', 'Kooperation', kopf.kooperation(), optionen.kooperationen())
              .col-sm-6
                +singleselect('kopf[verantwortlicher]', 'Verantwortlicher', kopf.verantwortlicher(), optionen.verantwortliche())
            .row
              .col-sm-12
                +textareaPure('kopf[beschreibung]', 'Kommentar', kopf.beschreibung())

      .row
        .col-md-12
          hr
          +submitButtonsFor(veranstaltung, 'kopf')

block scripts
  +preiseScript
  +kontaktScript('agentur')
  +bandScript
  script.
    $(document).ready(function () {
      var startDate = $('#veranstaltungform [name=startDate]');
      var startTime = $('#veranstaltungform [name=startTime]');
      var endDate = $('#veranstaltungform [name=endDate]');
      var endTime = $('#veranstaltungform [name=endTime]');

      dateAdapter(startDate, startTime, endDate, endTime);
    });

  script(src='/clientscripts/check-veranstaltungform.js')
