include ../../../views/formComponents

mixin preise(veranstaltung)
  -var eintrittspreise = veranstaltung.eintrittspreise()
  +legendMitBody('preise', 'Einritt/Zuschuss', 'eintrittTotal')
    .row
      .col-4
        +currency('eintrittspreise[regulaer]', 'Eintritt', eintrittspreise.regulaer(), 'Der Standardpreis für VVK / Abendkasse', '0,00 €')
      .col-4
        +currency('eintrittspreise[rabattErmaessigt]', '% erm.', eintrittspreise.rabattErmaessigt(), 'Die Reduktion für normale Ermäßigung', eintrittspreise.standardRabattErmaessigt() + ',00 €')
      .col-4
        +currency('eintrittspreise[rabattMitglied]', '% Mitgl.', eintrittspreise.rabattMitglied(), 'Die Reduktion für Mitglieder', eintrittspreise.standardRabattMitglied() + ',00 €')
    .row
      .col-4
        .form-group
          | &nbsp;
          +checkbox('eintrittspreise[frei]', 'Freier Eintritt', eintrittspreise.frei())
      .col-4
        +currency('eintrittspreise[ermaessigt]', '€ ermäßigt', eintrittspreise.ermaessigt(), undefined, '0,00 €', true)
      .col-4
        +currency('eintrittspreise[mitglied]', '€ Mitglied', eintrittspreise.mitglied(), undefined, '0,00 €', true)
    .row
      .col-4
        +currency('eintrittspreise[zuschuss]', 'Zuschuss', eintrittspreise.zuschuss())
      .col-4
        +number('eintrittspreise[erwarteteBesucher]', 'Besucher (erwartet)', eintrittspreise.erwarteteBesucher())
      .col-4
        .form-group
          +controlLabel('erwarteteEinnahmen', 'Total')
          p: b
            +currencySpan(null, 'erwarteteEinnahmen', 'form-control-static float-right text-success')

mixin preiseScript
  script.
    function initPreiseScript() {
      var regulaer = $('#eintrittspreise\\[regulaer\\]');
      var rabattErmaessigt = $('#eintrittspreise\\[rabattErmaessigt\\]');
      var rabattMitglied = $('#eintrittspreise\\[rabattMitglied\\]');
      var freierEintritt = $(':checkbox[name*="eintrittspreise[frei]"]');
      var anzahlBesucher = $('#eintrittspreise\\[erwarteteBesucher\\]');
      var zuschuss = $('#eintrittspreise\\[zuschuss\\]');

      function amountHandler() {
        var preis = eurAmount(regulaer);
        var preisErmaessigt = preis - Math.abs(eurAmount(rabattErmaessigt));
        var preisMitglied = preis - Math.abs(eurAmount(rabattMitglied));

        setEuro($('#eintrittspreise\\[ermaessigt\\]'), preisErmaessigt);
        setEuro($('#eintrittspreise\\[mitglied\\]'), preisMitglied);

        var erwarteteEinnahmen = intAmount(anzahlBesucher)
          * (0.8 * preis + 0.1 * preisErmaessigt + 0.1 * preisMitglied)
          + eurAmount(zuschuss);

        setEuro($('#erwarteteEinnahmen'), erwarteteEinnahmen);
        setEuro($('#eintrittTotal'), erwarteteEinnahmen);
      }

      [regulaer, rabattErmaessigt, rabattMitglied, anzahlBesucher, zuschuss].forEach(function (field) {
        field.keyup(amountHandler);
      });
      
      anzahlBesucher.change(amountHandler);

      function enableDisableCurrencies() {
        [regulaer, rabattErmaessigt, rabattMitglied].forEach(function (each) {
            each.prop('disabled', freierEintritt.is(':checked'));
          }
        )
      }

      freierEintritt.change(enableDisableCurrencies);
      enableDisableCurrencies();
      amountHandler();
    };
    $(document).ready(initPreiseScript);
