include ../../../views/formComponents

mixin preise(veranstaltung)
  -var eintrittspreise = veranstaltung.eintrittspreise()
  legend
    a(data-toggle='collapse', href='#preise') Preise
    +currencySpan('eintrittTotal', 'pull-right')
  #preise.collapse.in
    .row
      .col-xs-4
        +currency('eintrittspreise[regulaer]', 'Eintritt', eintrittspreise.regulaer(), 'Der Standardpreis für VVK / Abendkasse', '0,00 €')
      .col-xs-4
        +currency('eintrittspreise[rabattErmaessigt]', '% erm.', eintrittspreise.rabattErmaessigt(), 'Die Reduktion für normale Ermäßigung', eintrittspreise.standardRabattErmaessigt() + ',00 €')
      .col-xs-4
        +currency('eintrittspreise[rabattMitglied]', '% Mitgl.', eintrittspreise.rabattMitglied(), 'Die Reduktion für Mitglieder', eintrittspreise.standardRabattMitglied() + ',00 €')
    .row
      .col-xs-4
        .form-group
          | &nbsp;
          +checkbox('eintrittspreise[frei]', 'Freier Eintritt', eintrittspreise.frei())
      .col-xs-4
        +currency('eintrittspreise[ermaessigt]', '€ ermäßigt', eintrittspreise.ermaessigt(), undefined, '0,00 €', true)
      .col-xs-4
        +currency('eintrittspreise[mitglied]', '€ Mitglied', eintrittspreise.mitglied(), undefined, '0,00 €', true)
    .row
      .col-xs-4
      .col-xs-4
        +number('eintrittspreise[erwarteteBesucher]', 'Besucher (erwartet)', eintrittspreise.erwarteteBesucher())
      .col-xs-4
        .form-group
          +controlLabel('erwarteteEinnahmen', 'Total')
          p: b
            +currencySpan('erwarteteEinnahmen', 'form-control-static pull-right')

mixin preiseScript
  script.
    function initPreiseScript() {
      var regulaer = $('#eintrittspreise\\[regulaer\\]');
      var rabattErmaessigt = $('#eintrittspreise\\[rabattErmaessigt\\]');
      var rabattMitglied = $('#eintrittspreise\\[rabattMitglied\\]');
      var freierEintritt = $(':checkbox[name*="eintrittspreise[frei]"]');
      var anzahlBesucher = $('#eintrittspreise\\[erwarteteBesucher\\]');

      function amountHandler() {
        var preis = eurAmount(regulaer);
        var preisErmaessigt = preis - Math.abs(eurAmount(rabattErmaessigt));
        var preisMitglied = preis - Math.abs(eurAmount(rabattMitglied));
        
        $('#eintrittspreise\\[ermaessigt\\]').autoNumeric('set', preisErmaessigt);
        $('#eintrittspreise\\[mitglied\\]').autoNumeric('set', preisMitglied);

        var erwarteteEinnahmen = intAmount(anzahlBesucher) * (0.8 * preis + 0.1 * preisErmaessigt + 0.1 * preisMitglied);
          
        $('#erwarteteEinnahmen').autoNumeric('set', erwarteteEinnahmen);
        $('#eintrittTotal').autoNumeric('set', erwarteteEinnahmen);
      }

      [regulaer, rabattErmaessigt, rabattMitglied, anzahlBesucher].forEach(function (field) {
        field.keyup(amountHandler);
      });
      
      anzahlBesucher.change(amountHandler);

      function enableDisableCurrencies() {
        [regulaer, rabattErmaessigt, rabattMitglied].forEach(function (each) {
            each.prop('disabled', freierEintritt.is(':checked'));
          }
        )
      }

      freierEintritt.change(enableDisableCurrencies);
      enableDisableCurrencies();
      amountHandler();
    };
    $(document).ready(initPreiseScript);
