extends ../../../views/layout
include ../../../views/formComponents
include kontakt


mixin zimmerNumEUR(name, label)
  .col-sm-4
    .row
      .col-xs-6
        +number('unterkunft[' + name + 'Num]', label, unterkunft[name + 'Num'](), null, '0', '80')
      .col-xs-6
        +currency('unterkunft[' + name + 'EUR]', 'Preis', unterkunft[name + 'EUR']())


block title
  | Veranstaltung

block content
  -var unterkunft = veranstaltung.unterkunft()

  form#hotelform(action='/veranstaltungen/submit', method='post')
    +csrf
    +hidden('id', veranstaltung.id())
    fieldset
      .row
        .col-md-12
          +submitButtonsFor(veranstaltung, 'hotel')
          .page-header
            h2 Hotel für #{veranstaltung.datumForDisplay()}<br>
              small #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}
      .row
        .col-md-6
          +kontakt(veranstaltung, optionen.hotels(), 'Hotel', 'hotel', 'color-hotel')
          +legendMitBody('zimmer', 'Zimmer', 'roomsTotal', 'color-hotel')
            .row
              .col-xs-4()
                +date('unterkunft[anreiseDate]', 'Anreise', unterkunft.anreiseDisplayDate())
                +date('unterkunft[abreiseDate]', 'Abreise', unterkunft.abreiseDisplayDate())
              .col-xs-8()
                +textareaPure('unterkunft[kommentar]', 'Kommentar', unterkunft.kommentar(), 'Name der Gäste')
            .row
              +zimmerNumEUR('einzel', 'Einzel')
              +zimmerNumEUR('doppel', 'Doppel')
              +zimmerNumEUR('suite', 'Suite')
        .col-md-6
          +legendMitBody('transport', 'Transport', 'transportTotal', 'color-hotel')
            +textareaPure('unterkunft[transportText]', 'Anmerkungen', unterkunft.transportText(), 'Wer, wann, wo abholen, hinbringen?')
            .row
              .col-md-6
                +multiselect('unterkunft[sonstiges]', 'Bus / Sonstiges', unterkunft.sonstiges(), ['Parkgenehmigung', 'Stromanschluss'])
              .col-md-6
                +currency('unterkunft[transportEUR]', 'Summe', unterkunft.transportEUR())
      .row
        .col-md-12
          hr
          +submitButtonsFor(veranstaltung, 'hotel')
block scripts
  +kontaktScript('hotel')
  script.
    $(document).ready(function() {
      var einzelEUR = $('#unterkunft\\[einzelEUR\\]');
      var einzelNum = $('#unterkunft\\[einzelNum\\]');
      var doppelEUR = $('#unterkunft\\[doppelEUR\\]');
      var doppelNum = $('#unterkunft\\[doppelNum\\]');
      var suiteEUR = $('#unterkunft\\[suiteEUR\\]');
      var suiteNum = $('#unterkunft\\[suiteNum\\]');

      function updateRoomsTotal() {
        var total = eurAmount(einzelEUR) * intAmount(einzelNum) 
          + eurAmount(doppelEUR) * intAmount(doppelNum) 
          + eurAmount(suiteEUR) * intAmount(suiteNum);
        $('#roomsTotal').autoNumeric('set', total);
      }

      [einzelEUR, doppelEUR, suiteEUR].forEach(function(field) {
        field.keyup(updateRoomsTotal);
      });
      [einzelNum, doppelNum, suiteNum].forEach(function(field) {
        field.change(updateRoomsTotal);
      });
      updateRoomsTotal();

      var transportEUR = $('#unterkunft\\[transportEUR\\]');
      function updateTransportTotal() {
        $('#transportTotal').autoNumeric('set', eurAmount(transportEUR))
      }

      transportEUR.keyup(updateTransportTotal);
      updateTransportTotal();
    });
  script(src='/clientscripts/check-hotelform.js')
