doctype html
html
  head
    meta(charset="utf-8")
    link(href="/stylesheets/screen.css", rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:p,500")
    title Veranstaltungen eines Monats
  body
    .container-fluid
      .row
        .col-12
          p: a.btn.btn-primary(href='/veranstaltungen/imgzip/' + monat)
            i.fas.fa-download.fa-fw
            | &nbsp;Alle Bilder als ZIP
          h3 Pressetexte
      .row
        each veranstaltung in liste
          .col-lg-6
            | !{Renderer.render(veranstaltung.presseTemplate() + veranstaltung.presse.text + "\n\n" + veranstaltung.presse.fullyQualifiedJazzclubURL())}
            hr
