include ../../../views/formComponents

mixin staffRow(allUsers, staff, name, label)
  .row
    .col-xs-8
      +editableMultiselect('staff[' + name + ']', label, staff[name](), allUsers)
    .col-xs-4
      +currency('staff[' + name + 'EUR]', 'Total', staff[name + 'EUR']())


mixin staffRowVerantwortlich(allUsers, staff, name, label)
  .row
    .col-xs-3
      +editableMultiselect('staff[' + name + 'V]', 'Verantw.', staff[name + 'V'](), allUsers)
    .col-xs-1
      .form-group
        | &nbsp;
        +checkbox('staff[' + name + 'VNotNeeded]', '', !staff[name + 'VNotNeeded']())
    .col-xs-3
      +editableMultiselect('staff[' + name + ']', label, staff[name](), allUsers)
    .col-xs-1
      .form-group
        | &nbsp;
        +checkbox('staff[' + name + 'NotNeeded]', '', !staff[name + 'NotNeeded']())
    .col-xs-4
      +currency('staff[' + name + 'EUR]', 'Total', staff[name + 'EUR']())


mixin staff(staff, allUsers)
  +legendMitBody('staff', 'Staff', 'staffPreis', 'color-costs')
    +staffRowVerantwortlich(allUsers, staff, 'techniker', 'Techniker')
    +staffRowVerantwortlich(allUsers, staff, 'kasse', 'Kasse')
    +staffRow(allUsers, staff, 'merchandise', 'Merchandise')
    +staffRow(allUsers, staff, 'fremdpersonal', 'Fremdpersonal')

mixin staffScript
  script.
    $(document).ready(function () {
      var technik = $('#staff\\[technikerEUR\\]');
      var merch = $('#staff\\[merchandiseEUR\\]');
      var kasse = $('#staff\\[kasseEUR\\]');
      var fremd = $('#staff\\[fremdpersonalEUR\\]');

      function updateStaffTotal() {
        $('#staffPreis').autoNumeric('set', eurAmount(technik) + eurAmount(merch) + eurAmount(kasse) + eurAmount(fremd));
      }

      technik.keyup(updateStaffTotal);
      merch.keyup(updateStaffTotal);
      kasse.keyup(updateStaffTotal);
      fremd.keyup(updateStaffTotal);
      updateStaffTotal();
    });
    
