include ../../../views/formComponents

mixin plakateRow(werbung, name, label)
  .row
    .col-xs-2
      +singleselect('werbung[' + name + 'Num]', label, werbung[name + 'Num'](), ['', 100, 250, 500])
    .col-xs-2
      +singleselect('werbung[' + name + 'Groesse]', 'Größe', werbung[name + 'Groesse'](), ['', 'A1', 'A2', 'A3'])
    .col-xs-3
      +singleselect('werbung[' + name + 'Von]', 'Aufsteller', werbung[name + 'Von'](), ['', 'Kulturring', 'Grüne', 'Spitzer', 'Sonstiger'])
    .col-xs-2
      +text('werbung[' + name + 'KW]', 'KW', werbung[name + 'KW']())
    .col-xs-3
      +currency('werbung[' + name + 'EUR]', 'Betrag', werbung[name + 'EUR']())

mixin marketingUndPlakate(werbung, optionen)
  legend
    a(data-toggle='collapse', href='#plakate') Werbung
    +currencySpan('werbungTotal', 'pull-right')
  #plakate.collapse.in
    +plakateRow(werbung, 'plakat1', 'Plakat')
    +plakateRow(werbung, 'plakat2', 'Plakat')
    .row
      .col-xs-7
        +text('werbung[genehmigungenInfo]', 'Genehmigungen', werbung.genehmigungenInfo(), null, 'Wer, Was')
      .col-xs-2
        +number('werbung[genehmigungenNum]', 'Anzahl', werbung.genehmigungenNum(), null, 0, 500)
      .col-xs-3
        +currency('werbung[genehmigungenEUR]', 'Betrag', werbung.genehmigungenEUR())
    .row
      .col-xs-2
        +singleselect('werbung[flyerNum]', 'Flyer', werbung.flyerNum(), ['', 100, 250, 500, 1000, 2000, 5000])
      .col-xs-7
        +text('werbung[flyerInfo]', 'Info', werbung.flyerInfo(), null, 'Größe, Lieferant')
      .col-xs-3
        +currency('werbung[flyerEUR]', 'Betrag', werbung.flyerEUR())
    .row
      .col-xs-9
        +text('werbung[layoutingInfo]', 'Arbeitskosten', werbung.layoutingInfo(), null, 'Layouting, Sonstiges')
      .col-xs-3
        +currency('werbung[layoutingEUR]', 'Betrag', werbung.layoutingEUR(optionen))

mixin marketingUndPlakateScripts
  script.
    $(document).ready(function () {
      function updatePlakateTotal() {
        var plakat1EUR = $('#werbung\\[plakat1EUR\\]');
        var plakat2EUR = $('#werbung\\[plakat2EUR\\]');
        var flyerEUR = $('#werbung\\[flyerEUR\\]');
        var layoutingEUR = $('#werbung\\[layoutingEUR\\]');
        var genehmigungenEUR = $('#werbung\\[genehmigungenEUR\\]');
        var summe = eurAmount(plakat1EUR)
          + eurAmount(plakat2EUR)
          + eurAmount(flyerEUR)
          + eurAmount(layoutingEUR)
          + eurAmount(genehmigungenEUR);

        setEuro($('#werbungTotal'), summe);
      }

      $('#werbung\\[plakat1EUR\\]').keyup(updatePlakateTotal);
      $('#werbung\\[plakat2EUR\\]').keyup(updatePlakateTotal);
      $('#werbung\\[flyerEUR\\]').keyup(updatePlakateTotal);
      $('#werbung\\[layoutingEUR\\]').keyup(updatePlakateTotal);
      $('#werbung\\[genehmigungenEUR\\]').keyup(updatePlakateTotal);
      updatePlakateTotal();
    });
