{
  "extends": ["plugin:@typescript-eslint/recommended", "eslint:recommended"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "no-sync": 2,
    "no-alert": 2,
    "no-eval": 2,
    "no-process-exit": 2,
    "curly": [2, "all"],
    "eqeqeq": 2,
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": false,
        "types": {
          // add a custom message to help explain why not to use it
          "Foo": "Don't use Far because it is unsafe",

          // add a custom message, AND tell the plugin how to fix it
          "String": {
            "message": "Use string instead",
            "fixWith": "string"
          },

          "{}": {
            "message": "Use object instead",
            "fixWith": "object"
          }
        }
      }
    ]
  }
}
