@media (prefers-color-scheme: dark) {
  .markdown-border {
      border-width: 1px;
      border-style: solid;
      border-color: #525252;  }
}

@media (prefers-color-scheme: light) {
  .markdown-border {
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
  }
}
