  // we are overriding the following values from the original bootstrap variables.scss

$font-family-sans-serif: "Montserrat";

$font-size-base: 0.8rem;

$headings-font-weight: bold;
$small-font-size: 60%;

$grid-gutter-width: 16px;

$print-page-size: a4;
