@import "../../../node_modules/rfs/scss";
@import "jc-variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

label {
  font-weight: $font-weight-bold;
}

.main {
  margin-right: auto;
  margin-left: auto;
}

// briefpapier

.blau {
  color: #118be8;
}
