# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: set timezone Berlin
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Berlin"
      - name: install
        run: |
          cd application
          yarn install --immutable
      - name: lint
        run: |
          cd application
          yarn lint
      - name: test
        run: |
          cd application
          yarn test
      - name: deploy
        run: |
          cd application
          yarn deploy
      - name: UI Tests
        run: |
          cd frontendtests
          yarn install --immutable
          yarn playwright install chromium
          yarn tsc
          ./startRunStop.sh
